<div ng-controller="core/adgroups/ChooseAdsController">

  <form>
    <div class="form-group">
      <div ng-repeat="ad in ads">
        <div ng-include src="'src/core/adgroups/view-ad.html'"></div>
      </div>

      <div class="dropdown">
        <button class="mics-btn mics-btn-add" dropdown-toggle type="button">
          Add Ads
          <!-- <span class="caret"></span> -->
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="add ads">
          <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="selectExistingAd()">
            <!-- <span class="glyphicon glyphicon-picture"></span> -->
            Choose From Library
          </a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="uploadNewAd()">
            <!-- <span class="glyphicon glyphicon-cloud-upload"></span> -->
            Upload New
          </a></li>
        </ul>
      </div>
    </div>
  </form>
</div>
