<div class="choose-existing-ads">
  <div class="modal-header">
    <h3>Select Ads</h3>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="filter-size">
            <select ng-model="creativeformat"
                    ng-options="availableCreative.format as availableCreative.format for availableCreative in availableCreatives | unique:'format' | orderBy:'format'">
              <option value="">all sizes</option>
            </select>
          </div>

          <div class="filter-name">
            <input type="text"
                   ng-model="creativename"
                   placeholder="search">
          </div>

          <div class="filtered-content">
            <table class="fragment-list-creatives">
              <thead>
              <tr>
                <th>&nbsp;</th>
                <th>Size</th>
                <th>Ad Name</th>
                <th>Created</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="availableCreative in availableCreatives | offset: (currentPageCreative - 1)*itemsPerPage | limitTo: itemsPerPage | filter:creativename | filter:creativeformat">
                <td><input type="checkbox" checklist-model="selectedCreatives" checklist-value="availableCreative"></td>
                <td class="mics-small-thumbnail">
                  <img creative-thumbnail="availableCreative.id" fetch-display-ad-renderer-properties="availableCreative.id as properties" title="{{properties.destination_url.value.url}}"/>
                  <span class="caption">{{availableCreative.format}}</span>
                </td>
                <td>{{availableCreative.name}}</td>
                <td>{{availableCreative.creation_date|date:'shortDate'}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <pagination total-items="availableCreatives.length" ng-model="currentPageCreative" items-per-page="itemsPerPage"></pagination>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <a class="mics-btn mics-btn-finish" ng-show="selectedCreatives.length" ng-click="done()">Done</a>
    <a ng-click="cancel()" class="mics-btn mics-btn-cancel">Cancel</a>
  </div>
</div>
