<table class="fragment-list-creatives">
  <thead>
    <tr>
      <th>Size</th>
      <th>Ad Name</th>
      <th>Url</th>
      <th ng-if="showDelete">Delete</th>
    </tr>
  </thead>
  <tbody>
  <tr ng-repeat="creative in creatives">
    <td mics-asset-thumbnail asset="creative">
    </td>
    <td>
      <input ng-model="creative.name">
    </td>
    <td>
      <input ng-model="creative.url_target">
    </td>
    <td ng-if="showDelete" class="delete-action">
      <a ng-click="onDelete(creative)">x</a>
    </td>
  </tr>
  </tbody>
</table>
