<div class="choose-existing-placement-list">
  <div class="modal-header">
    <h3>Select Placement Lists</h3>
  </div>

  <div class="modal-body">
    <table class="fragment-list-placement-list">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Name</th>
          <th>Target or Exclude</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="availablePlacementList in availablePlacementLists">
          <td><input type="checkbox" checklist-model="selectedPlacementLists" checklist-value="availablePlacementList"></td>
          <td>
            {{availablePlacementList.name}}
          </td>
            <td>
                <input type="checkbox" ng-model="availablePlacementList.exclude">
                <span ng-show="availablePlacementList.exclude">Exclude</span>
                <span ng-show="!availablePlacementList.exclude">Target</span>
            </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="modal-footer">
    <a class="mics-btn mics-btn-finish" ng-show="selectedPlacementLists.length" ng-click="done()">Done</a>
    <a ng-click="cancel()" class="mics-btn mics-btn-cancel">Cancel</a>
  </div>
</div>

