<div ng-controller="core/placementlists/EditOneController" class="mcs-default-container">
  <div class="mcs-default-sidebar">
    <div class="organisation-name-block">
      {{currentOrganisation}}
    </div>
  </div>
  <form ng-submit="next()" class="mcs-default-content mcs-full-page-form">

    <div class="mcs-default-heading">
      <h1 ng-if="isCreationMode">Create Placement List</h1>
      <h1 ng-if="!isCreationMode">Edit Placement List</h1>
    </div>

    <!-- Name -->
    <div mcs-form-group="" label-for="placement_list_name" label-text="Placement List Name">
      <input required class="input-lg" ng-model="placementList.name" type="text" id="placement_list_name">
    </div>

    <div ng-show="generatorCampains.length">
      <h4>Campaign generating data in this placement list</h4>
      <ul>
        <li ng-repeat="campaign in generatorCampains">
        <a ng-click="goToCampaign(campaign)">
          {{campaign.name}}
        </a>
        </li>
      </ul>
    </div>
    <div ng-show="consumerCampains.length">
      <h4>Campaign consuming data from this placement list</h4>
      <ul>
        <li ng-repeat="campaign in consumerCampains">
        <a ng-click="goToCampaign(campaign)">
          {{campaign.name}}
        </a>
        </li>
      </ul>
    </div>

    <br>

    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
              Advanced Options
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">

            <div mcs-form-group="" label-for="placement_list_technical_name" label-text="Technical Id">
              <input ng-model="placementList.technical_name" type="text" id="placement_list_technical_name">
            </div>

          </div>
        </div>
      </div>
    </div>


    <div class="mcs-actions-group">
      <a class="mics-btn mics-btn-cancel" ng-click="cancel()">Cancel</a>
      <button class="mics-btn mics-btn-finish">Done</button>
    </div>
  </form>
</div>

