<div ng-controller="core/placementlists/EditAllController" class="mcs-default-container">
  <div class="mcs-default-sidebar">
  </div>
  <div class="mcs-default-content">
    <div class="mcs-default-heading">
      <h1>All Placement Lists</h1>
    </div>
    <div class="mics-table-toolbar">
      <div class ="col-md-6">
        <div class="dropdown">
          <button class="mics-btn mics-btn-add dropdown-toggle" type="button" data-toggle="dropdown">
            New Placement List
            <!-- <span class="caret"></span> -->
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="New Placement List">
            <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="createPlacementList('CAMPAIGN_FEED')">
              Fed by campaign
            </a></li>
          </ul>
        </div>
      </div>
    </div>
    <table class="mics-table mics-table-auto-hiding-actions" ng-show="placementLists.length">
      <thead>
        <tr>
          <th>Name</th>
          <th>Technical Id</th>
          <th>Type</th>
          <th class="actions">Actions</th>
        </tr>
      </thead>
      <tbody>
      <tr ng-repeat="placementList in placementLists">
        <td>{{placementList.name}}</td>
        <td>{{placementList.technical_name}}</td>
        <td>{{placementList.group_type}}</td>
        <td class="actions">
          <a class="mics-btn mics-btn-action" ng-click="editPlacementList(placementList, $event)">Edit</a>
          <a class="mics-btn mics-btn-delete" ng-click="deletePlacementList(placementList, $event)">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
