<div ng-controller="core/adlayouts/CreateOneController" class="mcs-default-container">
  <div class="mcs-default-sidebar">
    <div class="organisation-name-block">
      {{currentOrganisation}}
    </div>
  </div>
  <form ng-submit="next()" class="mcs-default-edit-content mcs-full-page-form">

    <h1>Create Ad Layout</h1>

    <div class="row">
      <!-- Name -->
      <div class="col-md-4">
        <div mcs-form-group="full" label-for="adLayoutName" label-text="Name">
          <input required class="input-lg" ng-model="adLayout.name" type="text" id="adLayoutName" pattern="[a-zA-Z0-9-_ ]{2,}">
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Format -->
      <div class="col-md-2">
        <div mcs-form-group="full" label-for="format" label-text="Compatible Format">
          <select ng-model="adLayout.format" ng-options="adSize for adSize in adSizes" id="format"></select>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Ad Renderer -->
      <div class="col-md-2">
        <div mcs-form-group="full" label-for="adRenderer" label-text="Ad Renderer">
          <select ng-model="adLayout.renderer_id" ng-options="key for (key, value) in adRenderers" id="adRenderer"></select>
        </div>
      </div>

      <!-- Ad Renderer Version -->
      <div class="col-md-2">
        <div mcs-form-group="full" label-for="adRendererVersion" label-text="Ad Renderer Version">
          <select ng-model="adLayout.renderer_version_id" ng-options="key for (key, value) in adRendererVersions" id="adRendererVersion"></select>
        </div>
      </div>
    </div>

    <div class="mcs-actions-group">
      <button class="mics-btn mics-btn-cancel" ng-click="cancel()">Cancel</button>
      <button ng-disabled="!adLayout.name.length" class="mics-btn mics-btn-finish" ng-click="done()">Done</button>
      <button ng-disabled="!adLayout.name.length" class="mics-btn mics-btn-add" ng-click="saveAndCreateNewVersion()">Create New Version</button>
    </div>
  </form>
</div>