<div ng-controller="core/adlayouts/EditOneController" class="mcs-default-container">
  <div class="mcs-default-sidebar">
    <div class="organisation-name-block">
      {{currentOrganisation}}
    </div>
  </div>
  <form ng-submit="next()" class="mcs-default-edit-content mcs-full-page-form">

    <div class="mcs-default-heading">
      <h1 ng-if="isCreationMode">Create Ad Layout</h1>
      <h1 ng-if="!isCreationMode">Edit Ad Layout</h1>
    </div>

    <div class="row">
      <!-- Name -->
      <div class="col-md-4">
        <div mcs-form-group="full" label-for="adLayoutName" label-text="Name">
          <input required class="input-lg" ng-model="adLayoutVersion.name" type="text" id="adLayoutName" pattern="[a-zA-Z0-9-_]{2,}">
        </div>
      </div>

      <!-- Format -->
      <div class="col-md-2">
        <div mcs-form-group="full" label-for="format" label-text="Compatible Format">
          <select ng-model="adLayout.format" ng-options="adSize for adSize in adSizes" id="format"></select>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Ad Renderer -->
      <div class="col-md-2">
        <div mcs-form-group="full" label-for="adRenderer" label-text="Ad Renderer">
          <select ng-model="adLayout.renderer_id" ng-options="key for (key, value) in adRenderers" id="adRenderer"></select>
        </div>
      </div>

      <!-- Ad Renderer Version -->
      <div class="col-md-2">
        <div mcs-form-group="full" label-for="adRendererVersion" label-text="Ad Renderer Version Id">
          <select ng-model="adLayout.renderer_version_id" ng-options="adRendererVersion for adRendererVersion in adRendererVersions" id="adRendererVersion"></select>
        </div>
      </div>
    </div>

    <div mics-pl-upload="pluploadOptions" automatic-upload="false" files="files" class="btn-group">
      <div ng-show="files.length">Selected file: {{files[0].name}}</div>
      <a class="browse-button mics-btn mics-btn-add"><span ng-show="!files.length">Select Template</span><span ng-show="files.length">Change Template</span></a>
      <br/>
      <div class="alert alert-danger" ng-if="uploadError">{{ uploadError }}</div>
      <div class="mcs-actions-group">
        <a class="mics-btn mics-btn-cancel" ng-click="cancel()">Cancel</a>
        <button ng-click="done()" ng-disabled="!files.length || !adLayoutVersion.name.length" class="mics-btn mics-btn-finish">Done</button>
      </div>
    </div>
  </form>
</div>