<div class="choose-existing-keyword-list">
  <div class="modal-header">
    <h3>Select Keyword Lists</h3>
  </div>

  <div class="modal-body">
    <table class="fragment-list-keyword-list">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="availableKeywordList in availableKeywordLists">
          <td><input type="checkbox" checklist-model="selectedKeywordLists" checklist-value="availableKeywordList"></td>
          <td>
            {{availableKeywordList.name}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="modal-footer">
    <a class="mics-btn mics-btn-finish" ng-show="selectedKeywordLists.length" ng-click="done()">Done</a>
    <a ng-click="cancel()" class="mics-btn mics-btn-cancel">Cancel</a>
  </div>
</div>

