<div ng-controller="core/keywords/ViewAllController" class="mcs-default-container">
  <div class="mcs-default-sidebar">
  </div>
  <div class="mcs-default-content">
    <div class="mcs-default-heading">
      <h1>All Keywords Lists</h1>
    </div>
    <div class="mics-table-toolbar">
      <div class ="col-md-6">
        <div class="dropdown">
          <a href="#/library/keywordslists/new" class="mics-btn mics-btn-add">
            New Keywords List
          </a>
        </div>
      </div>
    </div>
    <table class="mics-table mics-table-auto-hiding-actions" ng-show="keywordsLists.length">
      <thead>
        <tr>
          <th>Name</th>
          <th class="actions">Actions</th>
        </tr>
      </thead>
      <tbody>
      <tr ng-repeat="keywordsList in keywordsLists">
        <td>{{keywordsList.name}}</td>
        <td class="actions">
          <a class="mics-btn mics-btn-action" ng-click="editKeywordsList(keywordsList, $event)">Edit</a>
          <a class="mics-btn mics-btn-delete" ng-click="deleteKeywordsList(keywordsList, $event)">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
