<div ng-controller="core/keywords/EditOneController" class="row">
  <div class="col-md-6">
    <!--
    yes, this should be a <form>
    no, html sucks and we can't have nested forms.
    TODO : find a better workaround.
    -->
    <div name="addKeywordExpressionForm">
      <div class="row">
        <div class="col-xs-6">
          <input type="text" ng-model="newPositiveKeywordExpression.expression" placeholder="add new positive keywords" class="form-control pull-left" ui-keypress="{13:'doNothing($event)'}"/>&nbsp;
        </div>
        <div class="col-xs-6">
        <a class="mics-btn mics-btn-add" ng-click="addKeywordExpression(keywordsList, newPositiveKeywordExpression, false)">include</a>
        <a class="mics-btn mics-btn-action pull-right" ng-click="importKeywordExpressions(keywordsList, 'include')">import...</a>
      </div>
      </div>
    </div>
    <div class="keywords-expressions-block well">
      <div ng-repeat="keywordExpression in keywordsList.keywordExpressions | filter : positiveExpressionsFilter" class="positive-keyword-expression">
        <a ng-click="removeKeywordExpression(keywordsList, keywordExpression)" type="button" class="close" aria-hidden="true">&times;</a>
        {{ keywordExpression.expression }}
      </div>
    </div>

    <hr>

    <div name="addKeywordExpressionForm">
      <div class="row">
        <div class="col-xs-6">
          <input type="text" ng-model="newNegativeKeywordExpression.expression" placeholder="add new negative keywords" class="form-control pull-left" ui-keypress="{13:'doNothing($event)'}"/>&nbsp;
        </div>
        <div class="col-xs-6">
          <a class="mics-btn mics-btn-add" ng-click="addKeywordExpression(keywordsList, newNegativeKeywordExpression, true)">exclude</a>
          <a class="mics-btn mics-btn-action pull-right" ng-click="importKeywordExpressions(keywordsList, 'exclude')">import...</a>
        </div>
      </div>
    </div>
    <div class="keywords-expressions-block well">
      <div ng-repeat="keywordExpression in keywordsList.keywordExpressions | filter : negativeExpressionsFilter" class="negative-keyword-expression">
        <a ng-click="removeKeywordExpression(keywordsList, keywordExpression)" type="button" class="close" aria-hidden="true">&times;</a>
        {{ keywordExpression.expression }}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="jumbotron">
      <h3>
        Audience share
        <a class="btn btn-default" ng-click="refreshStats()" ng-show="!statsLoading">Refresh</a>
        <a class="btn btn-default btn-disabled" ng-show="statsLoading">Loading...</a>
      </h3>
      <div ng-show="stats">
        <h2>{{stats.total_views_per_month|approxNumber}} <small>pages/month</small></h2>

        <table class="mics-table">
          <thead>
            <tr>
              <th>Domain</th>
              <th>frequency per month</th>
            </tr>
          </thead>
          <tbody>
          <tr ng-repeat="entry in stats.stats|limitTo:20">
            <td>{{entry.domain}}</td>
            <td>{{entry.frequency|approxNumber}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
