<div ng-controller="core/keywords/EditOneController" class="row">
  <div class="col-md-6">
    <!--
    yes, this should be a <form>
    no, html sucks and we can't have nested forms.
    TODO : find a better workaround.
    -->
    <div name="addKeywordExpressionForm">

      <div class="row">
        <div class="form-group col-md-6">
          <select ng-model="newKeywordExpression.type" class="form-control">
            <option value="include">Target pages which contain the keywords</option>
            <option value="exclude">Target pages which don't contain the keywords</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <input type="text" ng-model="newKeywordExpression.content" placeholder="add new keywords" class="form-control pull-left" ui-keypress="{13:'doNothing($event)'}"/>&nbsp;
        </div>
        <a class="mics-btn mics-btn-add" ng-click="addKeywordExpression(keywordsList, newKeywordExpression)">add</a>
      </div>
      <hr>
    </div>
    <div class="keywords-expressions positive-keywords-expressions well">
      <div ng-repeat="keywordExpression in keywordsList.expressionList | filter : positiveExpressionsFilter">
        {{ keywordExpression.content }}
        <a ng-click="removeKeywordExpression(keywordsList, keywordExpression)" type="button" class="close" aria-hidden="true">&times;</a>
      </div>
    </div>
    <hr>
    <div class="keywords-expressions negative-keywords-expressions well">
      <div ng-repeat="keywordExpression in keywordsList.expressionList | filter : negativeExpressionsFilter">
        {{ keywordExpression.content }}
        <a ng-click="removeKeywordExpression(keywordsList, keywordExpression)" type="button" class="close" aria-hidden="true">&times;</a>
      </div>
    </div>
  </div>
  <!--
  <div class="col-md-6">
    <div class="jumbotron">
      Volume d'audience <a class="btn btn-default" ng-click="refreshStats()">Refresh</a>
      <h2>{{ '2.8 Millions' }} <small>pages/month</small></h2>
      <dl class="dl-horizontal">
        <dt>www.ebay.fr</dt> <dd>160 000</dd>
        <dt>www.orange.fr</dt> <dd>300 000</dd>
      </dl>
    </div>
  </div>
  -->
</div>
