<div ng-controller="core/keywords/EditOneController" class="col-md-12">
  <div class="col-md-12">
    <form novalidate name="addKeywordExpressionForm" ng-submit="addKeywordExpression(keywordsList, newKeywordExpression)" class="form-inline">
      <div class="form-group">

        <!-- <label> -->
        <!-- Name : -->
        <!-- <input type="text" ng-model="keywordsList.name" placeholder="add new keywords" /> -->
        <!-- </label> -->
        <!-- <br /> -->

        <select ng-model="newKeywordExpression.type" class="form-control">
          <option value="include">include</option>
          <option value="exclude">exclude</option>
        </select>

        <input type="text" ng-model="newKeywordExpression.content" placeholder="add new keywords" />
        <button class="btn btn-default">add</button>
      </div>
      <hr>
    </form>
    <p ng-repeat="keywordExpression in keywordsList.expressionList">
      {{ keywordExpression.type }} : {{ keywordExpression.content }}
      <button ng-click="removeKeywordExpression(keywordsList, keywordExpression)" type="button" class="close" aria-hidden="true">&times;</button>
    </p>
  </div>
  <!--
  <div class="col-md-6">
    here, stats !
  </div>
  -->
</div>
