/*
 * Mediarithmics navigator style sheet
 */
$icon-font-path: "/bower_components/bootstrap-sass/vendor/assets/fonts/bootstrap/";
// override bootstrap variables
$font-family-sans-serif: "LLCircularWeb-Book", "Source Sans Pro", Helvetica, Arial, sans-serif;

@mixin use-bold-font() {
  font-family: "LLCircularWeb-Medium", "Source Sans Pro", Helvetica, Arial, sans-serif;
}

@mixin use-normal-font() {
  font-family: $font-family-sans-serif;
}

$dark-blue: #092f56;
$dark-blue-not: #ffffff;
$mcs-red: #fe5858;
$mcs-red-not: #fff;
$mcs-light-blue: #00a1e1;
$mcs-light-blue-not: #fff;
$mcs-green: #00ad68;
$mcs-green-not: #fff;
$mcs-orange: #FE8F10;
$mcs-orange-not: #fff;
$mcs-light-grey: #E6E6E6;
$mcs-grey: #CBCBCB;
$body-bg: #fff;

$font-size-base: 12px;

$nav-tabs-active-link-hover-color: $mcs-light-blue-not;
$nav-tabs-active-link-hover-bg: $mcs-light-blue;
$nav-tabs-active-link-hover-border-color: $mcs-light-blue;

$breadcrumb-active-color: $dark-blue;
$breadcrumb-color: $mcs-light-blue;
$breadcrumb-separator: '>';
$breadcrumb-padding-horizontal: 0;

$text-color: $dark-blue;
$input-border: $mcs-light-blue;
$dropdown-link-color: $dark-blue;

$table-bg: white;

//$brand-primary: #0BA3DE;
$brand-success: #00AB67;
$brand-info: #0BA3DE;

$brand-warning: $mcs-orange;
$brand-danger: $mcs-red;
$border-radius-base: 0px;
$border-radius-small: 0px;
$border-radius-large: 0px;
$border-radius-force-round: 100px;

$pagination-color: $mcs-light-blue;
$pagination-active-bg: $mcs-light-blue;
$pagination-active-border: $mcs-light-blue;

//navbar style
$navbar-inverse-link-active-color: $dark-blue;
$navbar-inverse-link-active-bg: $body-bg;
$navbar-inverse-border: $body-bg;
$navbar-inverse-bg: $dark-blue;

$navbar-inverse-color: $body-bg;
$navbar-inverse-link-color: $body-bg;

@mixin mics-button-variant($background) {
  $color: #fff;
  @include button-variant($color, $background, $background);

  /* no darken() on hover */
  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: $background;
    border-color: $background;
  }

  .dropdown.open & {
    background-color: $background;
    border-color: $background;
  }
}

@import "bootstrap-sass/vendor/assets/stylesheets/bootstrap.scss";

.navbar-nav.mcs-main-nav > li > a {
  height: 33px;

  margin-right: 11px;
  margin-left: 11px;
  margin-top: 17px;

  padding-right: 9px;
  padding-left: 9px;
  padding-top: 3px;

  @include use-bold-font();
}

.navbar-nav.navbar-right {
  li > p {
    padding: 3px 20px;
  }

  li > img {
    cursor: pointer;
    height: 30px;
    margin: 10px;
  }
;

  li.dropdown.open {
    background: white;
  }

  li.dropdown.open > img {
    -webkit-filter: invert(1);
    filter: invert(1);
  }
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-left: 120px;
}

.top-warning {
  padding: 5px;
  color: $mcs-red-not;
  font-weight: bold;
  background: $mcs-red;
  z-index: 2000;
  position: relative;
  button {
    font-size: 12px;
    padding-bottom: 0;
    padding-top: 0;
    padding-right: 2px;
    margin-top: -2px;
    line-height: 1;
  }
}

.mcs-app .daterangepicker {
  .calendar-date, td, th, .ranges .input-mini {
    border-radius: 0;
  }
}

/*
 * Common styles
 */

a, *[ng-click] {
  cursor: pointer;
}

*[ng-click][modal-window] {
  cursor: default;
}

input[type=daterange] {
  cursor: pointer; /* the plugin will display a custom component */
}

label {
  font-weight: normal;
}

.mcs-top-navbar {

  //    margin-bottom: 0px !important;
  background-color: $dark-blue;
  border-color: white;

  .mcs-workspace-label {
    color: $dark-blue-not;
    font-size: 15px;
    @include use-bold-font();
  }

  > .active > a {
    background-color: white;
  }
}

.navbar {
}

.no-navbar {
  /* we don't have the navbar, but we want some space */
  margin-bottom: 20px;
}

.input-group-addon {
  background-color: $mcs-light-blue;
  color: $mcs-light-blue-not;
  @include use-bold-font();
}

.mics-table-toolbar {

  @include make-row();
  margin-bottom: 20px;
}

.mics-table {
  @extend .table;
  @extend .table-striped;
  thead {
    color: white;
    background-color: $mcs-light-blue;
    tr {
      th {
        /* if I play with the line-height, I might get strange results with multilines headers */
        padding-top: 11px;
        padding-bottom: 11px;
      }
      th.actions {
        background-color: $dark-blue;
        text-align: right;
      }
      th.status {
        width: 130px;
      }
    }
  }
  td, th {
    border-top: none !important;
    border-bottom: none !important;
  }
  tbody {
    tr {
      td + td {
        border-left: 1px solid #DDD;
      }
      td.actions {
        @extend .text-right;
        .mics-btn {
          @extend .btn-xs;
          margin-left: 8px;
          margin-bottom: 8px;
        }
      }
      /* &:not(:hover) td.actions .mics-btn { */
      /* @include mics-button-variant($mcs-grey); */
      /* } */
    }
  }
}

.mics-table.js-auto-hide-actions {
  thead {
    th.actions {
      display: none;
    }
  }
  tbody {
    td.actions {
      display: none;
    }

    > tr:nth-child(odd) > td.actions {
      background-color: $table-bg-accent;
    }
    /* the td overlap in this case, we need to set a background */
    > tr:nth-child(even) > td.actions {
      background-color: $table-bg;
    }
  }
}

.mics-block-heading {
  background: $mcs-light-grey;
  padding: 21px;

  .form-group {
    margin-bottom: 0; /* that's ok, we add our own padding */
  }

  > div {
    float: left;
  }

  > span {
    font-size: ceil(($font-size-base * 1.5));
    margin-left: 10px;
  }
}

.mics-default-block {
  padding: 15px;
  border: 1px solid $mcs-light-grey;
}

.pretty-print-url {
  .url-search-item {
    display: block;
  }
  .key {
    color: blue;
  }
  .separator {
    color: black;
  }
  .value {
    font-weight: bold;
  }
  .toggle {
    margin: 0 5px;
  }
  .url {
    float: right;
  }
}

.mics-btn {
  @extend .btn;
  border-radius: $border-radius-force-round !important;
  &.btn-lg, &.btn-sm, &.btn-xs {
    border-radius: $border-radius-force-round !important;
  }

  @include button-size($padding-xs-vertical, $padding-base-horizontal, ceil(($font-size-base * 1.4)), $line-height-base, $border-radius-base);

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: $dark-blue !important;
  }

  .btn-group & + & {
    margin-left: 5px;
  }
}

/* mics-btn override sizes and btn-xs is not enough to override the override. */
.mics-btn.btn-xs {
  @extend .btn-xs;
}

.mics-btn-delete, .mics-btn-cancel {
  @include mics-button-variant($mcs-red);
}

.mics-btn-edit, .mics-btn-continue, .mics-btn-previous, .mics-btn-action {
  @include mics-button-variant($mcs-light-blue);
}

.mics-btn-add, .mics-btn-create {
  @include mics-button-variant($mcs-orange);
}

/* TODO : use an other class for this behavior ? */
.mics-btn-add:before {
  @extend .glyphicon;
  @extend .glyphicon-plus;
  margin-right: 4px;
}

.mics-btn-finish {
  @include mics-button-variant($mcs-green);
}

.daterangepicker {
  .applyBtn {
    @extend .mics-btn;
    @extend .mics-btn-action;
  }
  .cancelBtn {
    @extend .mics-btn;
    @extend .mics-btn-cancel;
  }
}

input[type=daterange] + * {
  margin-left: 5px;
}

/*
 * Sign-in
 */

.mcs-form-signin {
  max-width: 340px;
  padding: 15px;
  margin: 0 auto;
  a {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
  }
}

/*
 * Set password
 */

.mcs-form-set-password {
  max-width: 485px;
  padding-top: 30px;
  margin: 0 auto;

  h2 {
    text-align: center;
    margin-bottom: 15px;
  }

  h4 {
    text-align: center;
    margin-bottom: 15px;
  }

  input {
    margin-top: 5px;
  }

  button {
    margin-top: 5px;
  }
}

.mcs-form-update-password {
  max-width: 485px;

  input {
    margin-top: 5px;
  }
}

/*
 * nav bar
 */

.navbar-brand {
  padding: 6px 20px;
}

.breadcrumb > li:before {
  content: "> "; /* event the first */
}

.breadcrumb {
  color: $breadcrumb-color; /* not just the separator */
  background-color: transparent;

  font-size: $font-size-large;
  line-height: 30px; /* TODO use sass variables */
  /* border-top: 1px solid $mcs-light-grey; */
  li {
    margin-right: 25px;
  }
}

.breadcrumb > .active {
  &:before {
    color: $breadcrumb-active-color;
    padding: 0 5px 0 0;
  }

  border-bottom: 1px solid $breadcrumb-active-color;
}

form.mcs-full-page-form {

  .mcs-form-row {
    @include make-row();
  }
  .mcs-form-group {
    @extend .form-group;
    margin-bottom: 30px;

    label {
      font-weight: normal;
    }

    input[type=text], input[type=password], input[type=number], select {
      @extend .form-control;
      @include use-bold-font();
      color: $dark-blue;

      /* force input variations */
      &.input-lg {
        @extend .input-lg;
      }
      &.input-sm {
        @extend .input-sm;
      }
    }
  }
  .mcs-form-group-number {
    @include make-sm-column(3);
  }

  .mcs-form-group-select {
    @include make-sm-column(6);
  }

  .mcs-form-group-default {
    @include make-sm-column(6);
  }

  .mcs-form-group-full {
    @include make-sm-column(12);
  }

  /* for the actions buttons at the bottom of the page */
  .mcs-actions-group {
    margin-top: 30px;
    margin-bottom: 30px;

    .mics-btn + .mics-btn {
      margin-left: 8px;
    }
  }
}

.keyword-expression {
  display: inline-block;
  border: 1px solid #888;
  padding: 4px;
  margin: 4px;

  /* link to delete */
  > a {
    margin-left: 5px;
    line-height: 0.8;
  }
}

.positive-keyword-expression {
  @extend .keyword-expression;
  color: $mcs-green-not;
  background-color: $mcs-green;
}

.negative-keyword-expression {
  @extend .keyword-expression;
  color: $mcs-red-not;
  background-color: $mcs-red;
}

.keywords-expressions-block {
  min-height: 100px;
}

.modal-dialog .import-keywords-list textarea {
  width: 100%;
  min-height: 300px;
}

[dropdown-toggle].mics-btn-add {
  & + ul.dropdown-menu {
    padding: 0;

    li > a:hover, li > a:focus {
      background-color: $mcs-orange;
      color: $mcs-orange-not;
    }
  }
}

.drop-target {
  border: 5px dashed #999;
  text-align: center;
  color: #999;
  font-size: 16px;
  width: 80%;
  height: 200px;
  line-height: 200px;
  cursor: pointer;
  margin: 5px auto;
}

.drop-target.dragover {
  background: rgba(255, 255, 255, 0.4);
  border-color: green;
}

/**
* campaign list
*/

.nv-y1 {
  .tick {
    line {
      stroke: white;
    }
  }
}

.nv-y2 {
  .tick {
    line {
      stroke: white;
    }
  }
}

.nv-x {
  .tick {
    line {
      stroke: white;
    }
  }
}

.metrics {
  @extend .text-right;
}

.metrics.number {
  @extend .text-right;
}

.metrics.currency {
  @extend .text-right;
}

.mcs-default-container {
  @include make-row();
}

.mcs-default-sidebar {
  /* override right and width to the good values but keep the overall behavior */
  @include make-xs-column(3);
  width: 20% !important;
  float: right;
  ul {
    @extend .nav;
    @extend .nav-pills;
    @extend .nav-stacked;

  }
  .organisation-name-block {
    text-align: right;
    color: $dark-blue-not;
    background-color: $dark-blue;
    font-size: 15px;
    line-height: $line-height-computed;
    @include use-bold-font();
    padding: 35px 15px 15px 0;
    margin: -20px -15px 15px;
  }
}

.sidebar-placeholder {
  /* override right and width to the good values but keep the overall behavior */
  @include make-xs-column(3);
  width: 20% !important;
  background-color: $mcs-light-grey;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
}

.mcs-default-content {
  /* override right and width to the good values but keep the overall behavior */
  @include make-xs-column(9, 100px);
  width: 80% !important;
}

.mcs-default-heading {
  border-bottom: 1px solid #EEEEEE;
  margin-bottom: 15px;
  @include make-row();
  > * {
    @include make-xs-column(12);
  }
}

.campaign-list {
  @extend .mcs-default-container;
  .campaign-sidebar {
    @extend .mcs-default-sidebar;
  }
  .campaign-list-content {
    @extend .mcs-default-content;
    .campaign-list-heading {
      @extend .mcs-default-heading;
      .dropdown {
        display: inline-block;
      }
    }
    .campaign-list-controller {
      @include make-row();
      .campaign-list-actions {
        @include make-sm-column(6);
      }
      .campaign-list-date-controller {
        @include make-sm-column(6);
        min-width: 270px;
        input.range {
          width: 240px;
          background-color: $mcs-light-blue;
          color: $mcs-light-blue-not;
          @include use-bold-font();
          font-size: ceil(($font-size-base * 1.5));
        }
        @extend .text-right;
      }
      margin-bottom: 20px;
    }
    .campaign-list-area {
      .campaign-list-table {
        @extend .mics-table;
      }
    }
  }

}

.mcs-default-sidebar {
  .mcs-campaign-type, .mcs-creative-type {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    & > img {
      width: 100%;
    }
    & > h4 {
      display: inline-block;
    }
  }
}

.campaign-report {
  .report-top-tab {
    .organisation-name {
      @include make-md-column(12)
    }
  }
  .report-sidebar {
    > .mics-btn {
      margin-top: $line-height-computed; /* same as h2 to align with it */
    }
  }

  .report {
    .campaign-heading {
      @extend .mcs-default-heading;
      .dropdown-export {
        display: inline-block;
      }
      h2 {
        & > span {
          @include use-bold-font();
          margin-right: 20px;
        }
        margin-top: 12px;
        padding: 0;
      }
      border-bottom: none; /* this one has no border... */

      /* compensate the bootstrap margin */
      margin: 0;
    }

    .chart-controller {
      @include make-row();

      /* compensate the bootstrap margin */
      margin: 0;

      padding: 8px 0;
      border-top: 1px solid $dark-blue;
      border-bottom: 1px solid $dark-blue;
      .report-type-controller {
        @include make-md-column(4);
        padding: 0;
        .nav-pills {
          @include use-bold-font();
          font-size: ceil(($font-size-base * 1.5));
          a {
            padding: 4px 15px;
            color: $dark-blue;
          }
          .active a {
            color: $dark-blue-not;
            background-color: $dark-blue;
          }
        }
      }
      .report-date-controller {
        @include make-md-column(8);
        min-width: 270px;
        padding: 0;
        input.range {
          width: 240px;
          background-color: $mcs-light-blue;
          color: $mcs-light-blue-not;
          @include use-bold-font();
          font-size: ceil(($font-size-base * 1.5));
        }
        @extend .text-right;
      }
    }
    .chart-area {
      @include make-row();
      .kpi-area {
        @include make-md-column(2);

        dl {
          margin-bottom: 0;
        }

        dt {
          @extend .text-left;
          color: $mcs-light-blue;
          font-weight: normal;
          margin-top: 7px;
          padding-top: 7px;
          @include use-bold-font();
          font-size: 12px;
        }
        dd {
          @extend .text-right;
          font-size: 32px;
          @include use-bold-font();
        }
        dd + dt {
          border-top: 1px solid $mcs-light-grey;
        }
      }

      .kpi-details {
        @extend .kpi-area;
        &.ng-hide {
          opacity: 0;
        }

        &.ng-hide-remove.ng-hide-remove-active {
          -webkit-transition: all linear 0.2s;
          transition: all linear 0.2s;
        }
      }

      .medium-chart {
        margin-top: 16px;
        @include make-md-column(10);
        .chart {
          height: 300px;
          position: static;

          .nvtooltip {
            background: white;
          }

          svg {
            .nv-x {
              text {
                fill: $dark-blue;
              }
            }

            .nv-y1 {
              text {
                fill: $mcs-red;
              }
            }

            .nv-y2 {
              text {
                fill: $mcs-green;
              }
            }
          }
        }

        .chart-legend {
          margin-top: 40px;
          padding: 0 60px 0 60px;

          .y1-legend:before {
            color: #00AC67;
          }
          .y2-legend:before {
            color: #FE5858;
          }
          .y1-legend:before, .y2-legend:before {
            content: ' \25CF';
            display: inline-block;
            margin-top: -3px;
            margin-right: 5px;
            vertical-align: middle;
          }
          .y1-legend, .y2-legend {
            margin-right: 20px;
          }
          .precision-filter {
            float: right;
            max-width: 8.5rem;
            max-height: 3rem;
          }
          .selection-button {
            padding: 0 9px;
          }
        ;
        }
      }

      .big-chart {
        @include make-md-column(12);
        .chart {
          height: 250px;
          position: static;
        }
      }
    }

    .chart-area.show-details {
      .medium-chart {
        @include make-md-column(8);
      }
    }

    .breakdown-area {
      @include make-row();
      .nav-tabs a {
        @include use-bold-font();
        color: $dark-blue;
      }
      .nav-tabs .active a {
        color: $dark-blue-not;
      }
      .badge.creative-audit-notification-alert {
        background-color: red;
        cursor: help;
      }
      .badge.creative-audit-notification-warning {
        background-color: orange;
        cursor: help;
      }
    }
  }
}

.edit-campaign-expert {
  .selected-display-network {
    margin: 0 5px 5px 0;
    display: inline-block;
  }
}

.create-keywords-campaign {
  .front-recommendation {
    /* line-height: 40px; */
    font-size: $font-size-large;
    @extend .text-center;

    span {
      display: inline-block;
      margin: 10px;
    }
  }
}

table.fragment-list-creatives {

  @extend .mics-table;

  input[type=text] {
    @extend .form-control;
  }
}

.choose-existing-ads {
  .filter-size {
    @extend .pull-left;
    @include make-sm-column(5);
    @extend .form-group;
  }
  .filter-name {
    @extend .pull-right;
    @include make-sm-column(7);
    @extend .form-group;
  }

  select, input[type=text] {
    @extend .form-control;
  }

  .modal-body .filtered-content {
    @include make-sm-column(12);
    max-height: 300px; /* TODO : arbitrary value */
    overflow: auto;
  }
}

.create-keywords-campaign .summary {
  @extend .mics-table;

  .actions {
    @extend .text-right;
  }

  img {
    margin: 0 8px;
  }
}

table.fragment-list-user-groups {
  @extend .mics-table;
}

table.fragment-list-keyword-list {
  @extend .mics-table;
}

.choose-existing-keyword-list {
  .modal-body {
    @include make-md-column(12);
    max-height: 300px; /* TODO : arbitrary value */
    overflow: auto;
  }
}

table.fragment-list-placement-list {
  @extend .mics-table;
}

.choose-existing-placement-list {
  .modal-body {
    @include make-md-column(12);
    max-height: 300px; /* TODO : arbitrary value */
    overflow: auto;
  }
}

table.fragment-list-bid-optimizer {
  @extend .mics-table;
}

table.fragment-list-bid-optimizer-engine {
  @extend .mics-table;
}

/*
 * Datamart
 * --------
 */

/* Reusables */

.blue {
  color: $dark-blue;
}

.inlined {
  display: inline;
}

.top-spaced {
  margin-top: 20px;
}

.bottom-spaced {
  margin-bottom: 20px;
}

.not-bottom-spaced {
  margin-bottom: 0;
}

.vertically-spaced {
  @extend .top-spaced;
  @extend .bottom-spaced;
}

.right-spaced {
  margin-right: 20px;
}

.left-spaced {
  margin-left: 20px;
}

.bordered {
  border: 1px solid darken($mcs-light-grey, 5);
}

/* Generics */

.datamart.nav-tabs {
  padding-bottom: 20px;
  border-bottom: none;

  li {
    a {
      color: $mcs-light-blue;
      padding: 10px;
      margin-right: 10px;

      &:hover {
        background: none;
        border: 1px solid transparent;
        border-bottom-color: $mcs-light-blue;
      }
    }
  }

  li.active {
    a {
      color: $dark-blue;
      border: 1px solid transparent;
      border-bottom-color: $dark-blue;

      &:hover {
        background: none;
        color: $dark-blue;
        border: 1px solid transparent;
        border-bottom-color: $dark-blue;
      }
    }
  }
}

table.datamart.table {
  color: $dark-blue;
  > tbody > tr > td:first-child {
    min-width: 100px;
  }
}

table.datamart.timeline-aligned {
  margin-left: 25%;
}

form.datamart {
  .form-group label {
    color: $dark-blue;
  }
  input[type="search"] {
    color: $dark-blue;
    border: 1px solid $mcs-light-blue;
  }

  select {
    color: $dark-blue !important;
    border: 1px solid $mcs-light-blue !important;
  }
}

.datamart.pagination {
  > li > a {
    color: $dark-blue;
    border-color: $mcs-light-grey;
    &:hover {
      background: $mcs-light-grey;
      color: $dark-blue;
    }
  }
  > li.active > a, > li.active > a:hover {
    background: $mcs-orange !important;
    border-color: $mcs-orange !important;
    color: #ffffff;
  }
  > li.disabled > a, > li.disabled > a:hover {
    background: #ffffff;
    border-color: $mcs-light-grey;
    color: $mcs-light-grey;
    cursor: auto;
  }
}

/*
.datamart-well {
  background: $mcs-light-grey;
  padding: 20px;
}
*/

.list-group {
  .list-group-label {
    color: $dark-blue;
    @include use-bold-font();
    margin-bottom: 5px;
  }

  .list-group-header-item {
    padding: 15px;
    background: $mcs-light-blue;
    border: 1px solid $mcs-light-blue;
    color: #ffffff;
    @include use-bold-font();
  }

  .list-group-cell-element {
    display: table-cell;
    width: 50%;
    min-width: 100px;
  }

  .list-group-item {
    padding: 15px;
    border-color: $mcs-light-grey;
    color: $dark-blue;
    overflow: hidden;
    .badge {
      background: $dark-blue;
    }
    &:hover {
      background: $mcs-light-blue;
      border-color: $mcs-light-blue;
      color: #ffffff;
      a {
        color: #ffffff;
        text-decoration: underline;
      }
    }
  }
}

.category-item {
  @extend .bordered;
  padding: 15px;
  color: $dark-blue;
}

a.category-item {
  background: #ffffff;
  &:hover {
    background: $mcs-light-blue;
    border-color: $mcs-light-blue;
    text-decoration: none;
    color: #ffffff;
  }
}

.category-list {
  padding: 15px 0;

  > .category-item {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

/* User activity timeline */

.datamart-timeline {
  margin: 30px 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.datamart-timeline:before {
  content: '';
  position: absolute;
  top: 0;
  left: 20.5%;
  bottom: 0;
  width: 2px;
  background: $mcs-light-grey;
  margin-left: -10px;
}

.datamart-timeline > li {
  position: relative;
}

.datamart-timeline > li .datamart-timeline-datetime {
  display: block;
  width: 25%;
  padding-right: 100px;
  position: absolute;
  font-size: 1em;
  color: $dark-blue;
}

.datamart-timeline > li .datamart-timeline-datetime span {
  display: block;
  text-align: right;
  color: $dark-blue;
}

.datamart-timeline > li .datamart-timeline-content {
  margin: 0 0 15px 25%;
  background: $mcs-light-grey;
  color: $dark-blue;
  padding: 1.2em;
  position: relative;
  border-left: 6px solid #cccccc;
  left: 0;
  transition: left 0.2s;
}

.datamart-timeline > li.with_action .datamart-timeline-content {
  border-left: 6px solid $mcs-light-blue;
}

.datamart-timeline > li.with_purchase .datamart-timeline-content {
  border-left: 6px solid $mcs-red;
}



.datamart-timeline-content-header {
 .live-event-header {
    @extend .label; 
    @extend .label-success; 
    float: right;
 }
}

.datamart-timeline > li .datamart-timeline-content .datamart-timeline-content-header {
  padding: 0 0 10px 0;
}

.datamart-timeline > li .datamart-timeline-content .datamart-timeline-content-header h2 {
  margin-top: 0px;
}

.datamart-timeline > li .datamart-timeline-content .datamart-timeline-content-header h2 description {
  padding-left: 10px;
  color: rgba($dark-blue, 0.2);
  visibility: hidden;
}

.datamart-timeline > li .datamart-timeline-content .datamart-timeline-content-header:hover h2 description {
  visibility: visible;
}

.datamart-timeline > li .datamart-timeline-content .datamart-timeline-content-details {
  padding-top: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.datamart-timeline > li .datamart-timeline-content:after {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #cccccc;
  border-width: 16px;
  top: 4px;
}

.datamart-timeline > li.with_action .datamart-timeline-content:after {
  border-right-color: $mcs-light-blue !important;
}

.datamart-timeline > li.with_purchase .datamart-timeline-content:after {
  border-right-color: $mcs-red !important;
}

.datamart-timeline > li .datamart-timeline-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  color: #fff;
  background: #cccccc;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  left: 20%;
  top: 0;
  margin: 0 0 0 -25px;
}

.datamart-timeline > li.with_action .datamart-timeline-icon {
  background: $mcs-light-blue !important;
}

.datamart-timeline > li.with_purchase .datamart-timeline-icon {
  background: $mcs-red !important;
}

.datamart-timeline > li.datamart-timeline-footer-node {
  margin-top: 50px;

  .datamart-timeline-content {
    display: inline-block;
    padding: 10px !important;
    margin-bottom: 0px;
    background: $mcs-light-grey;
    border-color: $mcs-light-grey;
    cursor: pointer;
    color: $dark-blue;

    &:after {
      border-right-color: $mcs-light-grey;
    }
  }

}

/* User activity timeline: media query for smaller screens */

@media screen and (max-width: 47.2em) {

  .datamart-timeline {
    margin-top: 60px;
  }

  .datamart-timeline:before {
    display: none;
  }

  .datamart-timeline > li {
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }

  .datamart-timeline > li .datamart-timeline-datetime {
    width: 100%;
    position: relative;
    padding: 0 0 20px 0;
  }

  .datamart-timeline > li .datamart-timeline-datetime span {
    text-align: left;
  }

  .datamart-timeline > li .datamart-timeline-content {
    margin: 0 0 30px 0;
    padding: 1em;
    font-weight: 400;
    font-size: 95%;
    &:after {
      border-width: 0;
    }
  }

  .datamart-timeline > li:hover .datamart-timeline-content {
    left: 0 !important;
  }

  .datamart-timeline > li .datamart-timeline-icon {
    position: relative;
    float: right;
    left: auto;
    margin: -55px 5px 0 0px;
  }

  table.datamart.timeline-aligned {
    margin-left: 0px;
  }

  .agent-filter-box {
    margin-top: 0 !important;
    > .dropdown-menu {
      box-shadow: 1px 2px 1px #999999;
    }
  }
}

.agent-filter-box {
  margin-top: 30px;
  color: $dark-blue;

  > .dropdown-menu {
    min-width: 180px;
    padding-bottom: 0;
    border-color: $mcs-light-grey;
    box-shadow: none;

    > li > .checkbox {
      padding: 1px 35px;
      label {
        padding-left: 10px;
      }
    }
  }
  .caret {
    margin-left: 10px;
  }
  .agent-filter-box-ordering {
    background: $mcs-light-grey;
    padding: 10px;
    color: $dark-blue;

    a:hover {
      background: none;
    }
  }
}

/* end of datamart */

.updatable-item-status {
  @extend .btn-group;

  button.updatable-item-status-state {
    span:first-child {
      @extend .glyphicon;
    }
  }
}

.updatable-item-status-PAUSED {
  button.updatable-item-status-state {
    @extend .btn-warning;

    span:first-child {
      @extend .glyphicon-pause;
    }
  }
}

.updatable-item-status-PENDING {
  button.updatable-item-status-state {
    @extend .btn-info;

    span:first-child {
      @extend .glyphicon-cog;
    }
  }
}

.updatable-item-status-ACTIVE {
  button.updatable-item-status-state {
    @extend .btn-success;

    span:first-child {
      @extend .glyphicon-play;
    }
  }
}

.ng-table-pagination, .ng-table-counts {
  margin: 0 0 20px 0;
}

@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass/css3/images";

.mics-toggle-block {
  .toggle-text-target {
    color: $mcs-green;
  }
  .toggle-text-exclude {
    color: $mcs-red;
  }

  & > * {
    display: inline-block;
  }
  .mics-toggle {
    width: 50px;
    height: 24px;
    position: relative;
    @include border-radius(50px);
    label {
      display: block;
      width: 18px;
      height: 18px;
      cursor: pointer;
      position: absolute;
      top: 3px;
      left: 3px;
      z-index: 1;
      background: #fff;
      @include border-radius(100%);
      @include transition(all .4s ease);

      &:hover {
        background: $dark-blue;
      }
    }
    input[type=checkbox] {
      visibility: hidden;
      &:checked + label {
        left: 29px;
      }
    }

    &.mics-toggle-checked {
      background: $mcs-red;
    }

    &.mics-toggle-unchecked {
      background: $mcs-green;
    }
  }
}

.edit-campaign-expert .show-ad-group {

  $ad-container-margin: 30px;
  $ad-container-max-img-size: 120px;
  h4 {
    @include use-bold-font();
    font-size: ceil(($font-size-base * 2));
    /* margin-bottom:16px; */
    margin-top: 30px;
  }
  .ad-group-components {
    border: 2px solid $mcs-light-blue;
  }
  .ad-group-component {
    padding: 21px $ad-container-margin;

    h5 {
      @include use-bold-font();
      font-size: ceil(($font-size-base * 1.5));
      display: inline-block;
      padding-bottom: 8px;
      margin: 0;
      border-bottom: 1px solid $dark-blue;
    }

    .ad-container {
      margin-left: -$ad-container-margin;
      margin-right: -$ad-container-margin;
    }
    .ad-container:after {
      clear: both;
      display: table;
      content: " ";
    }
    .img-box {
      width: $ad-container-max-img-size;
      height: $ad-container-max-img-size;
      vertical-align: bottom;
      display: table-cell;
    }
    .thumbnail {
      float: left;
      position: relative;
      border: none;
      margin: 28px; /* 4 images in 1024 and 5 images in 1250 : perfect */
      padding: 0;
      & img {
        margin: 0;
        border: 2px solid $dark-blue;
        max-width: $ad-container-max-img-size;
        max-height: $ad-container-max-img-size;
      }
      .caption {
        padding: 5px 0;
      }
    }

    .badge {
      @include use-normal-font();
      background: $mcs-red;
      font-size: $font-size-base;
      padding: 5px 8px;
      margin-left: 5px;
    }
  }
  /* margin-bottom: 30px; */
}

.display-network-list .label {
  font-size: $font-size-base;
  font-weight: normal;
  background-color: $mcs-light-blue;
  > a {
    margin-left: 5px;
    line-height: 0.8;
  }
}

.mics-small-thumbnail {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  @extend .text-center;
  img {
    max-width: 50px;
    max-height: 50px;
  }
  .caption {
    display: block;
    font-size: $font-size-small;
    padding: 0;
  }
}

.endpoint_TopCenter, .endpoint_BottomCenter, .endpoint_LeftMiddle, .endpoint_RightMiddle {
  display: inline-block;
}

.state_window {
  border: 1px solid #346789;
  box-shadow: 2px 2px 19px #aaa;
  -o-box-shadow: 2px 2px 19px #aaa;
  -webkit-box-shadow: 2px 2px 19px #aaa;
  -moz-box-shadow: 2px 2px 19px #aaa;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  text-align: center;
  z-index: 10;
  position: absolute;
  background-color: #eeeeef;
  padding: 0.5em;
  width: 250px;
  .node-label {
    padding-left: 20px;

  }
}

.window:hover {
  box-shadow: 2px 2px 19px #444;
  -o-box-shadow: 2px 2px 19px #444;
  -webkit-box-shadow: 2px 2px 19px #444;
  -moz-box-shadow: 2px 2px 19px #444;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

// ------------------ Video ------------------

.skipButton {
  position: absolute;
  padding: 10px;
  top: 10px;
  right: 10px;
  z-index: 99999;
  color: white;
  cursor: pointer;
  background-color: #666666;
  border: 2px #FFFFFF solid;
  display: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}

// ------------------ Audit Status ------------------

.audit-status {
  .status {
    border-radius: 100px !important;
    padding: 0 1rem 0 1rem;
    font-size: 17px;
    display: inline-block;
    color: #FFFFFF;
  }

  .failed {
    background-color: #FE5858;
  }

  .success {
    background-color: #00AD68;
  }

  .partially-passed {
    background-color: #092f56;
  }

  .pending {
    background-color: #FE8F10;
  }
}

// ------------------ Double Line Chart Selection ------------------

.double-line-chart-selection {
  .chart1 {
    border: 1.5px solid black;
    background: $mcs-red;
    color: $mcs-red;
  }

  .chart2 {
    border: 1.5px solid black;
    background: $mcs-green;
    color: $mcs-green;
  }
}

// ------------------ Double Line Chart Selection ------------------

.goals-selection {
  display: block;
  font-size: 15px;
  hr {
    margin-top: 6px;
    margin-bottom: 6px;
  }
}

// -------------------- Fields Validation --------------------------

input.ng-invalid {
  border-color: $brand-danger !important;
}

// -------------------- Creative Editor ----------------------------

.creative-preview {
  border: 1px solid #111111
}
