/*
 * Mediarithmics navigator style sheet
 */



$icon-font-path: "/bower_components/sass-bootstrap/fonts/";


// override bootstrap variables
$font-family-sans-serif: "Source Sans Pro", Helvetica, Arial, sans-serif;

$dark-blue: #092f56;
$dark-blue-not : #ffffff;
$mcs-red : #fe5858;

/*
 * Common styles
 */

.mcs-top-navbar {

    background-color: $dark-blue;
 }

.mcs-top-navbar li {

    color: $dark-blue-not;
}

.mcs-content {

    margin-top:30px;
}

/*
 * Sign-in
 */

 .mcs-form-signin {

    max-width:340px;
    padding: 15px;
    margin: 0 auto;

 }

 /*
  * nav bar
  */

.navbar-brand {
	padding-top : 6px;
	padding-bottom : 6px;
	padding-left: 20px;
	padding-right: 20px;
}