/*
 * Mediarithmics navigator style sheet
 */
$icon-font-path: "/bower_components/bootstrap-sass/vendor/assets/fonts/bootstrap/";
@import "bootstrap-sass/vendor/assets/stylesheets/bootstrap.scss";


// override bootstrap variables
$font-family-sans-serif: "Source Sans Pro", Helvetica, Arial, sans-serif;

$dark-blue: #092f56;
$dark-blue-not : #ffffff;
$mcs-red : #fe5858;

/*
 * Common styles
 */

.mcs-top-navbar {

    background-color: $dark-blue;
 }

.mcs-top-navbar li a:hover {

    color: $dark-blue-not !important;
}

.mcs-content {

    margin-top:30px;
}

/*
 * Sign-in
 */

 .mcs-form-signin {

    max-width:340px;
    padding: 15px;
    margin: 0 auto;

 }

 /*
  * nav bar
  */

.navbar-brand {
	padding-top : 6px;
	padding-bottom : 6px;
	padding-left: 20px;
	padding-right: 20px;
}

.mcs-app .breadcrumb > li + li:before {
  content: " > ";
}

.mcs-app .breadcrumb {
  color : #888;
}
.mcs-app .breadcrumb > .active {
  color : #000;
  font-weight : bold;
}

form.mcs-limit-input-length {
  input, select {
    max-width: 400px;
  }
}

input.mcs-amount {
  max-width: 200px;
}

.keywords-expressions {

  min-height: 100px;
  > div {
    display: inline-block;
    border: 1px solid #888;
    border-radius: 4px;
    padding: 4px;
    margin: 4px;
  }

  > div button {
    margin-left: 5px;
    line-height: 0.8;
  }

}

.drop-target {
  border: 5px dashed #999;
  text-align: center;
  color: #999;
  font-size: 16px;
  width: 80%;
  height: 200px;
  line-height: 200px;
  cursor: pointer;
  margin : 5px auto;
}

.drop-target.dragover {
  background: rgba(255, 255, 255, 0.4);
  border-color: green;
}


/*
 * Datamart
 */

 .inlined {
  display: inline;
}

.top-spaced {
  margin-top: 20px;
}

.bottom-spaced {
  margin-bottom: 20px;
}

.vertically-spaced {
  @extend .top-spaced;
  @extend .bottom-spaced;
}

.current-category {
  padding: 10px 15px;
  border-radius: 4px;
  background: #428BCA;
  color: white;
  width: 300px;
}

.parent-category-list {
  padding: 10px 15px;

  .parent-category {

    &:after {
      content: ",";
    }
    &:last-child:after {
      content: '';
    }
  }
}
/**
* campaign list
*/

.campaign-list {
  
}

.campaign-report {
    @extend .mcs-content;
    @include make-row();
    .report-sidebar {
        @extend .sidebar;
        @include make-md-column(4);
        @include make-md-column-push(8);

        ul {
            @extend .nav;
            @extend .nav-pills;
            @extend .nav-stacked;

        }

    }
    .report {
        @include make-md-column-pull(4);
        @include make-md-column(8);
        .information {
            @include make-row();
            .campaign {
                @include make-md-column(12);
            }

            .chart-controller {
                @include make-md-column(8);
                @extend .text-right;
            }
        }
        .chart-area {
            @include    make-row();
            .medium-chart {
                @include make-md-column(6);
                .chart {
                    height: 250px;
                    position: static;
                }
            }
            .big-chart {
                @include make-md-column(12);
                .chart {
                    height: 250px;
                    position: static;
                }
            }
        }
        .breakdown-area {
            @include    make-row();
            .panel{

                @extend .panel;
                @extend .panel-default;
                @include  make-md-column(12);

                .panel-body {
                    @extend .panel-body;
                }
                .breakdown {
                    @extend .nav;
                    @extend .nav-tabs ;
                    @extend .nav-justified;
                }
            }

        }
    }
}
