<div class="mcs-default-container" ng-controller="core/campaigns/expert/EditAdGroupController">

  <div class="mcs-default-sidebar ">
    <div class="organisation-name-block">
      {{currentOrganisation}}
    </div>
    <div class="mcs-campaign-type ">
      <img src="/images/plugins/multi-targeting-small.png"><br/>
      <h4>Multi Targeting</h4>
    </div>
  </div>

  <form role="form" class="mcs-default-content mcs-full-page-form">

    <!-- Ad Group edition form -->
    <div class="mcs-default-heading">
      <h3>Editing Ad Group</h3>
      <h4>for {{campaignName}} Campaign</h4>
    </div>

    <!------------------------ Basic Info ------------------------>
    <div mcs-form-group="" label-for="name" label-text="Ad Group Name">
      <input ng-model="adGroup.name" type="text" class="form-control input-lg" id="name">
    </div>
    <div mcs-form-group="" label-for="visibility" label-text="Visibility">
      <select ng-model="adGroup.visibility" type="text" class="form-control" id="visibility"
              ng-options="key as value for (key , value) in visibilityValues">
      </select>
    </div>

    <!------------------------ Select Ads ------------------------>
    <div class="mcs-form-group">
      <div class="mics-block-heading">
        <div ng-include="'src/core/adgroups/choose-ads.html'"></div>
        <span>Select ads</span>
      </div>
      <table class="fragment-list-creatives list-ads" ng-show="getAds(adGroup.id).length">
        <thead>
        <tr>
          <th>Size</th>
          <th>Ad Name</th>
          <th>Type</th>
          <th>Url</th>
          <th>Created</th>
          <th class="actions">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="ad in getAds(adGroup.id)" fetch-creative="ad.creative_id as creative with rendererProperties">
          <td>
            <div class="mics-small-thumbnail">
              <img creative-thumbnail="creative.id"/>
              <div class="caption">
                {{creative.format}}
              </div>
            </div>
          </td>
          <td>{{creative.name}}</td>
          <td>{{creative.creative_type}}</td>
          <td pretty-print-url="creativeProperties['destination_url'] | rendererProperty"></td>
          <td>{{creative.creation_date|date:'shortDate'}}</td>
          <td class="actions"><button class="mics-btn mics-btn-delete" ng-click="deleteAd(ad.id)">Remove</button></td>
        </tr>
        </tbody>
      </table>
    </div>

    <!------------------------ Select Visitor Groups ------------------------>
    <div class="mcs-form-group">
      <div class="mics-block-heading">
        <div ng-include="'src/core/usergroups/choose-user-groups.html'"></div>
        <span>Select visitor groups</span>
      </div>
      <table class="fragment-list-user-groups" ng-show="getUserGroups(adGroup.id).length">
        <thead>
        <tr>
          <th>Group name</th>
          <!-- <th>Total Users</th> -->
          <!-- <th>Duration (days)</th> -->
          <th>Target or Exclude</th>
          <th class="actions">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="userGroup in getUserGroups(adGroup.id)">
          <td>{{userGroup.name}}</td>
          <!-- <td>{{userGroup.totalUsers}}</td> -->
          <!-- <td>{{userGroup.duration}}</td> -->
          <td>
            <div mics-exclude-toggle="userGroup.exclude"></div>
          </td>
          <td class="actions">
            <button class="mics-btn mics-btn-delete" ng-click="deleteUserGroup(userGroup)">Remove</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <!------------------------ Select Keyword List ------------------------>
    <div class="mcs-form-group">
      <div class="mics-block-heading">
        <div ng-include="'src/core/keywords/choose-keyword-list.html'"></div>
        <span>Select keywords lists</span>
      </div>
      <table class="fragment-list-keyword-list" ng-show="getKeywordLists(adGroup.id).length">
        <thead>
        <tr>
          <th>Keyword list name</th>
          <th>Expressions</th>
          <!-- <th>Total Users</th> -->
          <!-- <th>Duration (days)</th> -->
          <th class="actions">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="keywordListSelection in getKeywordLists(adGroup.id)" fetch-keyword-list="keywordListSelection.keyword_list_id as keywordList with expressions">
          <td>{{keywordList.name}}</td>
          <td>
            <!-- {{keywordListExpressions|json}} -->
            <span ng-repeat="expression in keywordListExpressions" class="{{expression.exclude ? 'negative' : 'positive'}}-keyword-expression">
              {{expression.expression}}
            </span>
          </td>
          <td class="actions">
            <button class="mics-btn mics-btn-delete" ng-click="deleteKeywordList(keywordListSelection)">Remove</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <!------------------------ Select Placement List ------------------------>
    <div class="mcs-form-group">
      <div class="mics-block-heading">
        <div ng-include="'src/core/placementlists/choose-placement-list.html'"></div>
        <span>Select placements lists</span>
      </div>
      <table class="fragment-list-keyword-list" ng-show="getPlacementLists(adGroup.id).length">
        <thead>
        <tr>
          <th>Placement list name</th>
          <th>Target or Exclude</th>
          <!-- <th>Total Users</th> -->
          <!-- <th>Duration (days)</th> -->
          <th class="actions">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="placementListSelection in getPlacementLists(adGroup.id)" fetch-placement-list="placementListSelection.placement_list_id as placementList">
          <td>{{placementList.name}}</td>
          <td>
            <div mics-exclude-toggle="placementListSelection.exclude"></div>
          </td>
          <td class="actions">
            <button class="mics-btn mics-btn-delete" ng-click="deletePlacementList(placementListSelection)">Remove</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <!------------------------ Select Bid Strategy ------------------------>
    <div class="mcs-form-group panel panel-default"
         fetch-bid-optimizer="adGroup.bid_optimizer_id as bidOptimizer"
         fetch-plugin-from-version="bidOptimizer.engine_version_id as engine"
         fetch-plugin-properties="engine.id as engineProperties">
      <div class="mics-block-heading">
          <span>
            Bid Strategy :
            <span ng-show="!adGroup.bid_optimizer_id">Default - Fixed bid price</span>
            <span ng-show="adGroup.bid_optimizer_id">
              {{bidOptimizer.name}}  (
                {{engineProperties['name'].value}}
                by
                {{engineProperties['provider'].value}}
              ) - {{adGroup.bid_optimization_objective_type}} {{adGroup.bid_optimization_objective_value}} &euro;
            </span>
          </span>
        <a class="pull-right mics-btn mics-btn-action" data-toggle="collapse" data-parent="#accordion" data-target="#bidOptimizerPanel">
          More
        </a>
      </div>
      <div id="bidOptimizerPanel" class="panel-collapse collapse">
        <div class="panel-body form-inline">
          Bid Optimizer :
          <span ng-show="!adGroup.bid_optimizer_id">Default</span>
            <span ng-show="adGroup.bid_optimizer_id">
              {{bidOptimizer.name}}  (
                {{engineProperties['name'].value}}
                by
                {{engineProperties['provider'].value}}
              )
            </span>

          <div ng-include="'src/core/bidOptimizer/choose-bid-optimizer.html'" class="form-group"></div>
          <div ng-show="adGroup.bid_optimizer_id" class="form-inline">
            Objective<br>
            <select ng-model="adGroup.bid_optimization_objective_type">
              <option value="CPC">CPC</option>
              <option value="CPA">CPA</option>
            </select>
            <input ng-model="adGroup.bid_optimization_objective_value" class="form-control"/> &euro;
          </div>
        </div>
      </div>
    </div>

    <!-- Save or cancel -->
    <div class="mcs-actions-group">
      <button class="mics-btn mics-btn-finish" ng-click="done()">Return to the campaign</button>
      <button class="mics-btn mics-btn-cancel" ng-click="cancel()">Cancel</button>
    </div>

  </form>
</div>
