<!-- campaign edition form -->

<div class="mcs-default-container edit-campaign-expert" ng-Controller="core/campaigns/expert/EditCampaignController">
  <div class="mcs-default-sidebar">
    <div class="organisation-name-block">
      {{currentOrganisation}}
    </div>
    <div class="mcs-campaign-type ">

      <img src="/images/plugins/multi-targeting-small.png"><br />
      <h4>Multi Targeting</h4>

    </div>
  </div>
  <form role="form" class="mcs-default-content mcs-full-page-form">
    <div class="mcs-default-heading">
      <h1>Campaign</h1>
    </div>

    <!--<div class="mcs-form-group">-->
    <!--<label>Id</label>-->
    <!--<p  class="form-control-static">{{campaign.id}}</p>-->
    <!--</div>-->

    <!-- Name -->
    <div mcs-form-group="" label-for="name" label-text="Campaign name">
      <input  ng-model="campaign.name" type="text" class="form-control input-lg" id="name">
    </div>

    <!-- Weekly budget -->
    <div mcs-form-group="" label-for="max_budget_per_period" label-text="Budget">
      <div class="form-inline">
        <input ng-model="campaign.max_budget_per_period" type="text" class="form-control "  format="L"   id="max_budget_per_period" />
        &euro; per
        <select ng-model="campaign.max_budget_period">
          <option value="DAY">day</option>
          <option value="WEEK">week</option>
          <option value="MONTH">month</option>
        </select>
      </div>
    </div>

    <div mcs-form-group="number" label-for="total-budget" label-text="Total budget">
      <input ng-model="campaign.total_budget" type="text" class="form-control "  format="L"   id="total-budget" />
    </div>

    <!-- Schedule -->
    <div mcs-form-group="select" label-for="schedule" label-text="Schedule">
      <select ng-model="$parent.schedule" class="form-control" id="schedule">
        <option value="">Ongoing (no end date)</option>
        <option value="custom" ng-selected="campaign.start_date != null ? 'selected' : ''" >Custom</option>
      </select>

      <input ng-show="$parent.schedule === 'custom'"
             type="daterange"
             class="form-control range"
             ng-model="$parent.campaignDateRange"
             format="L"
        />

    </div>




    <!-- Location -->
    <div mcs-form-group="select" label-for="location" label-text="Location">
      <select class="form-control"  id="location" ng-model="$parent.locationSelector">
        <option value="" ng-show="!locations.length">Worldwide</option>
        <option value="custom"  ng-selected="locations.length ? 'selected' : ''" >Custom</option >
      </select>
    </div>
    <div>
      <div ng-show="locationSelector == 'custom'" ng-include="'src/core/location/choose-custom-location.html'"></div>
      <table class="fragment-list-keyword-list" ng-show="locations.length">
        <thead>
        <tr>
          <th>Country</th>
          <th>Type</th>
          <th>Value</th>
          <!-- <th>Duration (days)</th> -->
          <th class="actions">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="location in locations" >
          <td>{{location.country}}</td>
          <td>
            {{location.type}}
          </td>
          <td mcs-location="location">
            {{location.postal_code}}: {{getLocationDescriptor(locationList)}}

          </td>
          <td class="actions">
            <button class="mics-btn mics-btn-delete" ng-click="deleteLocation(location)">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div mcs-form-group="number" label-for="max-bid-price" label-text="Max bid price">
      <input ng-model="campaign.max_bid_price" type="text" class="form-control "  format="L"   id="max-bid-price" />
    </div>

    <div mcs-form-group="number" label-for="total-impression-capping" label-text="Total impression capping">
      <input ng-model="campaign.total_impression_capping" type="text" class="form-control "  format="L"    id="total-impression-capping" />
    </div>


    <div mcs-form-group="number" label-for="per-day-impression-capping" label-text="Daily impression capping">
      <input ng-model="campaign.per_day_impression_capping" type="text" class="form-control "  format="L"   id="per-day-impression-capping" />
    </div>



    <!-- Ad Groups -->
    <div class="mcs-form-group">
      <div class="mics-block-heading">
        <div class="btn-group">
          <a class="mics-btn mics-btn-add" ng-click="newAdGroup()">Create new Ad Group</a>
        </div>
        <span>Ad groups</span>
      </div>
      <div ng-repeat="adGroup in adGroups|orderBy:'id'">
        <div ng-include src="'src/core/campaigns/expert/view-ad-group.html'"></div>
      </div>

    </div>


    <!-- Display Networks -->
    <div class="mcs-form-group">
      <div class="mics-block-heading">
        <div class="btn-group">
          <a class="mics-btn mics-btn-add" ng-click="chooseDisplayNetworks()">Select Display Networks</a>
        </div>
        <span>Display networks</span>
      </div>
      <div class="mics-default-block display-network-list">
        <span class="label label-default selected-display-network" ng-repeat="source in inventorySources|orderBy:'display_network_name'">
          <a class="close" aria-hidden="true" type="button" ng-click="removeInventorySource(source)">x</a>
          {{source.display_network_name}}
        </span>

      </div>
    </div>

    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
              Advanced Options
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">

            <div mcs-form-group="" label-for="targeted_devices" label-text="Targeted devices">
              <select ng-model="campaign.targeted_devices" type="text" id="targeted_devices">
                <option value="ALL">All devices</option>
                <option value="ONLY_DESKTOP">Only desktop</option>
                <option value="ONLY_MOBILE">Only mobile</option>
              </select>

            </div>

          </div>
        </div>
      </div>
    </div>


    <!-- save or cancel -->
    <div class="mcs-actions-group">
      <button class="mics-btn mics-btn-finish" ng-click="save()">Save</button>
      <button class="mics-btn mics-btn-cancel" ng-click="cancel()">Cancel</button>
    </div>

  </form>

</div>
