<div class="mcs-default-container" ng-Controller="core/campaigns/expert/EditAdGroupController">

  <div class="mcs-default-sidebar ">

    <div class="organisation-name-block">
      {{currentOrganisation}}
    </div>
      <div class="mcs-campaign-type ">

          <img src="/images/plugins/multi-targeting-small.png"><br />
          <h4>Multi Targeting</h4>

      </div>
  </div>

  <form role="form" class="mcs-default-content mcs-full-page-form">
    <!-- Ad Group edition form -->
    <div class="mcs-default-heading">
      <h3>Editing Ad Group</h3>
      <h4>for {{campaignName}} Campaign</h4>
    </div>
    <!-- Name -->
    <div mcs-form-group="" label-for="name" label-text="Ad Group Name">
      <input ng-model="adGroup.name" type="text" class="form-control input-lg" id="name">
    </div>
    <div mcs-form-group="" label-for="visibility" label-text="Visibility">
      <select ng-model="adGroup.visibility" type="text" class="form-control" id="visibility"
        ng-options="key as value for (key , value) in visibilityValues">

      </select>
    </div>

    <h4>Ads</h4>
    <div ng-include="'src/core/adgroups/choose-ads.html'"></div>
    <table class="fragment-list-creatives list-ads" ng-show="getAds(adGroup.id).length">
      <thead>
        <tr>
          <th>Size</th>
          <th>Ad Name</th>
          <th>Url</th>
          <th>Created</th>
          <th class="actions">Action</th>
        </tr>
      </thead>
      <tbody>
      <tr ng-repeat="ad in getAds(adGroup.id)" fetch-creative="ad.creative_id as creative with rendererProperties">
        <!-- <td mics-asset-thumbnail asset="creative"></td> -->
        <td>
          <div class="thumbnail">
            <img creative-thumbnail="creative.id"/>
            <div class="caption">
              {{creative.format}}
            </div>
          </div>
        </td>
        <td>
          {{creative.name}}
        </td>
        <td pretty-print-url="creativeProperties['destination_url'] | rendererProperty">
        </td>
        <td>
          {{creative.creation_date|date:'shortDate'}}
        </td>

        <td class="actions">
          <button class="mics-btn mics-btn-delete" ng-click="deleteAd(ad.id)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>

    <h4>Visitor Groups</h4>
    <div class="mcs-form-group">
      <div ng-include="'src/core/usergroups/choose-user-groups.html'"></div>

      <table class="fragment-list-user-groups" ng-show="getUserGroups(adGroup.id).length">
        <thead>
          <tr>
            <th>Group name</th>
            <!-- <th>Total Users</th> -->
            <!-- <th>Duration (days)</th> -->
            <th>Target or Exclude</th>
            <th class="actions">Action</th>
          </tr>
        </thead>
        <tbody>
        <tr ng-repeat="userGroup in getUserGroups(adGroup.id)">
          <td>{{userGroup.name}}</td>
          <!-- <td>{{userGroup.totalUsers}}</td> -->
          <!-- <td>{{userGroup.duration}}</td> -->
          <td>
            <!-- TODO -->
            <input type="checkbox" ng-model="userGroup.exclude" />

            <span ng-show="userGroup.exclude">Exclude</span>
            <span ng-show="!userGroup.exclude">Target</span>
          </td>
          <td class="actions">
            <button class="mics-btn mics-btn-delete" ng-click="deleteUserGroup(userGroup.id)">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>


    <h4>Keywords lists</h4>
    <div class="mcs-form-group">
      <div ng-include="'src/core/keywords/choose-keyword-list.html'"></div>

      <table class="fragment-list-keyword-list" ng-show="getKeywordLists(adGroup.id).length">
        <thead>
          <tr>
            <th>Keyword list name</th>
            <th>Expressions</th>
            <!-- <th>Total Users</th> -->
            <!-- <th>Duration (days)</th> -->
            <th class="actions">Action</th>
          </tr>
        </thead>
        <tbody>
        <tr ng-repeat="keywordListSelection in getKeywordLists(adGroup.id)" fetch-keyword-list="keywordListSelection.keyword_list_id as keywordList with expressions">
          <td>{{keywordList.name}}</td>
          <td>
            <!-- {{keywordListExpressions|json}} -->
            <span ng-repeat="expression in keywordListExpressions" class="{{expression.exclude ? 'negative' : 'positive'}}-keyword-expression">
              {{expression.expression}}
            </span>
          </td>
          <td class="actions">
            <button class="mics-btn mics-btn-delete" ng-click="deleteKeywordList(keywordListSelection)">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

      <h4>Placements lists</h4>
      <div class="mcs-form-group">
          <div ng-include="'src/core/placementlists/choose-placement-list.html'"></div>

          <table class="fragment-list-keyword-list" ng-show="getPlacementLists(adGroup.id).length">
              <thead>
              <tr>
                  <th>Placement list name</th>
                  <th>Target or Exclude</th>
                  <!-- <th>Total Users</th> -->
                  <!-- <th>Duration (days)</th> -->
                  <th class="actions">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="placementListSelection in getPlacementLists(adGroup.id)" fetch-placement-list="placementListSelection.placement_list_id as placementList with expressions">
                  <td>{{placementList.name}}</td>

                  <td>
                      <!-- TODO -->
                      <input type="checkbox" ng-model="userGroup.exclude" />

                      <span ng-show="userGroup.exclude">Exclude</span>
                      <span ng-show="!userGroup.exclude">Target</span>
                  </td>
                  <td class="actions">
                      <button class="mics-btn mics-btn-delete" ng-click="deletePlacementList(placementListSelection)">Delete</button>
                  </td>
              </tr>
              </tbody>
          </table>
      </div>

    <!-- save or cancel -->
    <div class="mcs-actions-group">
      <button class="mics-btn mics-btn-finish" ng-click="done()">Done</button>
      <button class="mics-btn mics-btn-cancel" ng-click="cancel()">Cancel</button>
    </div>


  </form>
</div>
