<div class="panel panel-default">
    <div class="panel-heading"><h4>{{adGroup.name}} <small><a ng-click="editAdGroup(adGroup)">Edit</a></small></h4></div>
    <div class="panel-body">
        <div class="row">

            <div class="col-xs-6 col-md-3" ng-repeat="ad in getAds(adGroup.id)">


                    <creative-thumbnail creative-id="ad.creative_id" />


                </div>


            </div>
            <div class="col-xs-12 col-md-12" >Visibility : {{adGroup.visibility | constant:'adgroup_visibility'}}</div>
        </div>

    </div>
</div>