
<div>
    <form ng-submit="submit()">
        <div class="modal-header">
            <h1>New Segment</h1>
        </div>

        <div class="modal-body">
            <div class="col-md-12" ng-show='error'>
                <div class="alert alert-danger"  role="alert">{{error}}</div>
            </div>

            <div mcs-form-group label-for="name" label-text="Name">
                <input required class="input-lg" ng-model="segment.name" type="text" id="name">
            </div>

        </div>

        <div class="modal-footer">
            <a class="mics-btn mics-btn-cancel" ng-click="cancel()">Cancel</a>
            <button class="mics-btn mics-btn-finish">Save</button>
        </div>
    </form>
</div>