<div class="query-toolbox">
<div class="row" ng-show="error">
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert">{{error}}</div>
    </div>
</div>
<div class="row" ng-show="!error">
    <div class="col-md-3">
        <h4>List of criteria</h4>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default" ng-repeat="family in criteriaContainer.families">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           data-target="#criteria_{{family.id}}">
                            {{family.name}}
                        </a>
                    </h4>
                </div>
                <div id="criteria_{{family.id}}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div ng-repeat="selector in family.selectors">
                            <div x-lvl-draggable='true' data-family="{{family.name}}">
                                <span ng-if="selector.value.indexed" id="{{selector.id}}" title="indexed property">{{selector.label}} (i)</span>
                                <span ng-if="!selector.value.indexed" id="{{selector.id}}">{{selector.label}}</span>
                            </div>
                        </div>
                        <!--<hr/>
                        <div>
                            <button type="button" class="btn btn-link" ng-click="addPropertySelector(family)">
                                Add custom property
                            </button>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <span class="pull-right" ng-show="statistics.executionTimeInMs">took {{toHumanReadableDuration(statistics.executionTimeInMs)}}</span>

                        <h3 class="panel-title">Statistics</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row" ng-show='statsError'>
                            <div class="col-md-12">
                                <div class="alert alert-danger" role="alert">{{statsError}}</div>
                            </div>
                        </div>
                        <div class="row" >

                            <div ng-show="statsLoading" class="loading">
                                <img src="./images/ajax-loader.gif" class="ajax-loader">
                            </div>
                            <div ng-show="!statsLoading">
                                <div class="col-sm-3">
                                    <div class="query-stats"><span title="Total users" class="glyphicon glyphicon-user btn-lg total-user"></span>{{statistics.total
                                        | number}}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="query-stats"><span title="Total users with user account" class="glyphicon glyphicon-user btn-lg"></span>{{statistics.hasUserAccountId
                                        | number}}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="query-stats"><span title="Total users with email" class="glyphicon glyphicon-envelope btn-lg"></span>{{statistics.hasEmail
                                        | number}}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="query-stats"><span title="Total users with cookies" class="glyphicon glyphicon-globe btn-lg"></span>{{statistics.hasCookie
                                        | number}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <tabset>
                    <tab heading="Query conditions">
                        <div class="query-tab">
                            <div ng-repeat="(i,groupContainer) in queryContainer.groupContainers">
                            <div ng-class="{'panel panel-success':!groupContainer.value.excluded, 'panel panel-danger':groupContainer.value.excluded}">
                                <div class="panel-heading">
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-default btn-xs" aria-label="remove"
                                                ng-click="removeGroup(queryContainer,groupContainer)">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                    Group #{{i+1}}
                                    <span ng-if="!groupContainer.value.excluded" class="glyphicon glyphicon-ok"
                                          aria-hidden="true" title="Include group"
                                          ng-click="toggleExclude(groupContainer)"></span>
                                    <span ng-if="groupContainer.value.excluded"
                                          class="glyphicon glyphicon-remove-circle" aria-hidden="true"
                                          title="Exclude group" ng-click="toggleExclude(groupContainer)"></span>
                                </div>
                                <div class="panel-body" ng-class="{'ongoing-drag-decorate':onGoingDrag}">
                                    <div id="group {{groupContainer.id}}"
                                         ng-repeat="(j,elementContainer) in groupContainer.elementContainers">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="pull-right">
                                                    <button type="button" class="btn btn-default btn-xs"
                                                            aria-label="remove"
                                                            ng-click="removeElem(groupContainer,elementContainer)">
                                                        <span class="glyphicon glyphicon-remove"
                                                              aria-hidden="true"></span>
                                                    </button>
                                                </div>
                                                {{elementContainer.getLabel()}}
                                            </div>
                                            <div class="panel-body">
                                                <div ng-repeat="(k,condition) in elementContainer.conditions">
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-10">
                                                                <mcs-query-condition
                                                                        condition="condition"></mcs-query-condition>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <button type="button" class="btn btn-default pull-right"
                                                                        aria-label="remove"
                                                                        ng-click="removeCond(groupContainer, elementContainer, condition)">
                                                                    <span class="glyphicon glyphicon-remove"
                                                                          aria-hidden="true"></span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--ng-class="isDropAllowedOnElement(dragEl, elementContainer)"-->
                                                <div class="droppable-zone" x-lvl-drop-target='true'
                                                     ng-class="{
                                                        'drop-allowed': familyMatchesForDrop(elementContainer.family),
                                                        'drop-forbidden': !familyMatchesForDrop(elementContainer.family)
                                                     }"
                                                     x-on-drop='addCondition(dragEl, dropEl , elementContainer)'></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="droppable-zone drop-allowed" x-lvl-drop-target='true'
                                         x-on-drop='addElement(dragEl, dropEl , groupContainer)'></div>
                                </div>
                            </div>
                        </div>
                            <button class="btn btn-default" ng-click="addGroup(queryContainer, $event)">Add a group of conditions</button>
                        </div>
                    </tab>
                    <tab heading="Selected values">
                        <div class="query-tab">
                            <div class="panel panel-default">
                            <div class="panel-body" ng-class="{'ongoing-drag-decorate':onGoingDrag}">
                                <div x-lvl-drop-target='true'
                                     x-on-drop='addSelectedValue(dragEl, dropEl , queryContainer)'>
                                    <div ng-repeat="selectedValue in queryContainer.selectedValues">
                                        <div class="col-md-12">
                                            {{selectedValue.getFamilyName()}} : {{selectedValue.getSelectorLabel()}}
                                            <div class="pull-right">
                                                <button type="button" class="btn btn-default btn-xs" aria-label="remove"
                                                        ng-click="removeSelectedValue(queryContainer,selectedValue)">
                                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 droppable-zone"></div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </tab>
                    <tab heading="Results" select="resultsTabSelect()" deselect="resultsTabDeselect()">
                        <div class="query-tab">
                            <div ng-show="resultsLoading" class="loading">
                                <img src="./images/ajax-loader.gif" class="ajax-loader">
                            </div>
                            <div ng-show="resultsError" class="alert alert-danger" role="alert">{{resultsError}}</div>
                            <div ng-show="!resultsLoading && !resultsError">
                                <div ng-show="queryContainer.selectedValues.length == 0">Add Selected values first !</div>
                                <div ng-show="statistics.total == 0">No Results</div>
                                <div ng-show="queryContainer.selectedValues.length != 0 && results.length == 0 && statistics.total != 0">Click refresh to
                                    view results
                                </div>

                            </div>
                                <table class="mics-table results-tab" ng-show="results && results.metadata">
                                    <thead>
                                    <tr>
                                        <th ng-repeat="family in families" colspan="{{results.metadata[family].length}}">{{family}}</th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <th ng-repeat="column in selectedColumns">{{column.json_path}}</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="row in results.rows">
                                        <td ng-repeat="column in selectedColumns">{{displayValue(row['cells'][column.json_path],column.value_type)}}</td>
                                        <td>
                                            <a class="mics-btn mics-btn-action btn-xs" target="_blank"
                                               ng-href="{{goToTimeline(row['user_point_id'])}}">Timeline</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>
</div>