<div class="draft-warning">
  <div class="modal-header">
    <h3>Select Ad Layout</h3>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-xs-6">
        <div mcs-form-group="full" label-for="adRendererVersion" label-text="Ad Layout">
          <select ng-show="adLayouts.length" ng-model="selected.adLayout" ng-options="adLayout as adLayout.name for adLayout in adLayouts" id="adLayout"></select>
          <div ng-show="!adLayouts.length" style="color: indianred"> Please create an Ad Layout</div>
        </div>
      </div>

      <div ng-show="adLayouts" class="col-xs-6">
        <div mcs-form-group="full" label-for="adRendererVersion" label-text="Version">
          <select ng-show="versions.length" ng-model="selected.version" ng-options="version.id for version in versions" id="adLayoutVersion"></select>
          <div ng-show="!versions.length" style="color: indianred"> Please create a version for this Ad Layout</div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <a ng-click="cancel()" class="mics-btn mics-btn-cancel">Cancel</a>
    <a ng-disabled="!selected.adLayout && !selected.version" ng-click="done()" class="mics-btn mics-btn-finish">Ok</a>
  </div>
</div>

