<div mcs-form-group="" label-for="property-uri-{{property.id}}" label-text="{{property.technical_name}} URI">
      <input class="form-control " ng-disabled="ngDisabled" ng-model="property.value.uri" type="text" id="property-uri-{{property.id}}" />
</div>
<div mcs-form-group="" label-for="property-last-modified-{{property.id}}" label-text="{{property.technical_name}} last modified date">
      <input class="form-control " ng-disabled="ngDisabled" ng-model="property.value.last_modified" type="text" id="property-last-modified-{{property.id}}" />
</div>
