<div class="choose-existing-display-network">
  <div class="modal-header">
    <h3>Select Conversion Goals</h3>
  </div>

  <div class="modal-body">
    <table class="mics-table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Default value</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="goal in availableGoals">
        <td><label><input type="radio" ng-model="selectedGoals[0]" ng-value="goal"> {{goal.name}}</label></td>
        <td>{{goal.default_goal_value}} {{goal.goal_value_currency}}</td>
      </tr>
      <!--Use what's below when we'll let the user choose among multiple conversion charts-->
      <!--<tr ng-repeat="goal in availableGoals">-->
      <!--<td><input type="checkbox" checklist-model="selectedGoals" id="goal.{{goal.id}}" checklist-value="goal"/></td>-->
      <!--<td>{{goal.name}}</td>-->
      <!--<td>{{goal.default_goal_value}} {{goal.goal_value_currency}}</td>-->
      <!--</tr>-->
      </tbody>
    </table>
  </div>

  <div class="modal-footer">
    <a class="mics-btn mics-btn-finish" ng-show="selectedGoals.length" ng-click="done()">Done</a>
    <a ng-click="cancel()" class="mics-btn mics-btn-cancel">Cancel</a>
  </div>
</div>

