<div class="choose-existing-attribution-model">
  <div class="modal-header">
    <h3>Select Attribution Model Processor</h3>
  </div>

  <div class="modal-body">
    <table class="mics-table">
      <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Name</th>
        <th>Attribution Processor</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="attributionModel in attributionModels">
        <td>
          <input type="radio" checklist-model="selectedAttributionModels" id="attributionModel.{{attributionModel.id}}" checklist-value="attributionModel" />
        </td>
        <td>
            {{attributionModel.name}}
        </td>
        <td>
            {{attributionModel.group_id}}:{{attributionModel.artifact_id}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="modal-footer">
    <a class="mics-btn mics-btn-finish" ng-show="selectedAttributionModels.length" ng-click="done()">Done</a>
    <a ng-click="cancel()" class="mics-btn mics-btn-cancel">Cancel</a>
  </div>
</div>

