<div ng-controller="core/goals/EditOneController" class="mcs-default-container">
  <div class="mcs-default-sidebar">
    <div class="organisation-name-block">
      {{currentOrganisation}}
    </div>
  </div>
  <form ng-submit="next()" class="mcs-default-edit-content mcs-full-page-form">

    <div class="mcs-default-heading">
      <h1>Edit Goal</h1>
    </div>

      <div mcs-form-group="" label-for="name" label-text="Goal name">
          <input  ng-model="goal.name" type="text" class="form-control input-lg" id="name">
      </div>

      <div mcs-form-group="" label-for="name" label-text="Default Goal value">
          <input  ng-model="goal.default_goal_value" type="text" class="form-control input-lg" id="name">
      </div>
      <div mcs-form-group="" label-for="name" label-text="Goal value currency">
          <input  ng-model="goal.goal_value_currency" type="text" class="form-control input-lg" id="name">
      </div>
    <h3>Query</h3>
    <div ng-if="goal" mcs-query-display="goal.query_id" > </div>
    <a class="mics-btn mics-btn-edit" ng-click="editTrigger(goal)">Edit</a>
    <br />
    

    <h3>Attribution models</h3>
    <table class="mics-table js-auto-hide-actions" ng-show="attributionModels.length">
      <thead>
      <tr>
        <th>Attribution type</th>
        <th>Attribution model processor</th>
        <th>Default</th>
        <th class="actions">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="attributionModel in attributionModels">
        <td>{{attributionModel.attribution_type}}</td>
        <td ng-show="attributionModel.attribution_model_id">{{attributionModel.attribution_model_name}} ({{attributionModel.group_id}}:{{attributionModel.artifact_id}})</td>
        <td ng-show="!attributionModel.attribution_model_id">N/A</td>
        <td><input type="radio"
       ng-model="$parent.defaultAttributionModel" value="{{attributionModel.id}}" ng-change="updateDefaultAttributionModel(attributionModel)" /></td>
        <td class="actions">
          <a class="mics-btn mics-btn-delete" ng-click="deleteAttributionModel(attributionModel)">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>


    <div class="dropdown" uib-dropdown>
      <button class="mics-btn mics-btn-add" type="button" uib-dropdown-toggle>
        Add Attribution model
        <!-- <span class="caret"></span> -->
      </button>

      <ul class="dropdown-menu" role="menu" aria-labelledby="Add Attribution model">
        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="addDirectAttributionModel()">
          Direct
        </a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="addAttributionModel()">
          From processor
        </a></li>

      </ul>
    </div>
    <br />
    <br />
    

    <div class="mcs-actions-group">

        <a class="mics-btn mics-btn-cancel" ng-click="cancel()">Cancel</a>
      <button class="mics-btn mics-btn-finish" ng-click="done()">Done</button>
    </div>
  </form>
</div>

