<div ng-controller="core/goals/EditAllController" class="mcs-default-container">
  <div class="mcs-default-content">
    <div class="mcs-default-heading">
      <h1>All goals</h1>
    </div>
    <div class="mics-table-toolbar">
      <div class="col-md-6">
        <div class="dropdown" uib-dropdown>
          <button class="mics-btn mics-btn-add" type="button" ng-click="createGoal()">
            New goal
            <!-- <span class="caret"></span> -->
          </button>


        </div>
      </div>
    </div>
    <table class="mics-table table-hover js-auto-hide-actions" ng-show="goals.length">
      <thead>
      <tr>
        <th>Name</th>
        <th class="actions">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="goal in goals">
        <td class="clickable-box"><a ng-href="#{{getGoalReportUrl(goal)}}">{{goal.name}}</a></td>
        <td class="actions">
          <a class="mics-btn mics-btn-action" ng-click="editGoal(goal)">Edit</a>
          <a class="mics-btn mics-btn-delete" ng-click="archiveGoal(goal)">Archive</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
