<div ng-controller="core/bidOptimizer/ChooseBidOptimizerController">
<div uib-dropdown>
  <button class="mics-btn mics-btn-add" uib-dropdown-toggle type="button">
    change
  </button>
  <ul uib-dropdown-menu role="menu" aria-labelledby="change bid optimizer">
    <li role="presentation">
      <a role="menuitem" ng-click="bidOptimizerChooseFromLibrary(adGroup)">
        Choose from library
      </a>
    </li>
    <li role="presentation">
      <a role="menuitem" ng-click="bidOptimizerCreateNew(adGroup)">
        Create New
      </a>
    </li>
    <li role="presentation">
      <a role="menuitem" ng-click="bidOptimizerSetToDefault(adGroup)">
        Set To Default
      </a>
    </li>
  </ul>
</div>
</div>

