<div ng-controller="core/scenarios/inputs/EditOneController" class="mcs-default-container">
  <div class="mcs-default-sidebar">
    <div class="organisation-name-block">
      {{currentOrganisation}}
    </div>
  </div>
  <form ng-submit="next()" class="mcs-default-edit-content mcs-full-page-form">

      <div class="mcs-default-heading">
          <h1>Edit Input</h1>
      </div>


      <h4>Conditions</h4>


      <table class="mics-table js-auto-hide-actions" ng-show="conditions.length">
          <thead>
          <tr>
              <th>Condition Type</th>
              <th>Property Name</th>
              <th>Operator</th>
              <th>Property Value</th>
              <th class="actions">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="condition in conditions">
              <td>{{condition.selector_family | mcsEnumLabel}}</td>
              <td>{{condition.selector | mcsEnumLabel}}<em ng-show="condition.selector == 'PROPERTY' ||  condition.selector == 'TOPICS' || condition.selector == 'CUSTOM_PROPERTY'  ">&nbsp;-&nbsp;{{condition.property_name}}</em>
              </td>
              <td>{{condition.operator}}</td>
              <td>{{condition.condition_value}}</td>
              <td class="actions">
                  <a class="mics-btn mics-btn-delete" ng-click="deleteCondition(condition)">Delete</a>
              </td>
          </tr>
          </tbody>
      </table>

      <h4>Add condition</h4>

      <div class="form-group row">
          <div class="col-xs-2">
              <select class="form-control input-sm col-xs-2" id="condition_type" placeholder="Condition Type"
                      ng-model="condition.selector_family"
                      ng-options="family.name as (family.name | mcsEnumLabel) for family in families"
                      ng-change="updateFamily(condition.selector_family)">

              </select>
          </div>
          <div class="col-xs-2">
              <select class="form-control input-sm col-xs-2" id="event_name" ng-model="condition.selector"
                      placeholder="Selector"
                      ng-options="value.name as (value.name | mcsEnumLabel) for value in family"></select>
          </div>
          <div class="col-xs-2" ng-show="condition.selector == 'CUSTOM_PROPERTY' || condition.selector == 'PROPERTY' || condition.selector == 'TOPICS' ">
              <input class="form-control input-sm col-xs-2" id="property_name" ng-model="condition.property_name"
                     placeholder="Property Name"/>
          </div>
          <div class="col-xs-2">
              <select class="form-control input-sm col-xs-2" id="operator" ng-model="condition.operator"
                      placeholder="Operator">
                  <option value="EQUAL">=</option>
                  <option value="INF">&lt;</option>
                  <option value="SUP">&gt;</option>
                  <option value="CONTAINS">contains in list</option>
                  <option value="NOT_CONTAINS">does not contain in list</option>
                  <option value="START_WITH">starts with</option>
                  <option value="NOT_START_WITH">does not start with</option>
              </select>
          </div>
          <div class="col-xs-2">
              <input class="form-control input-sm col-xs-2" id="value" ng-model="condition.condition_value"
                     placeholder="Condition Value"/>
          </div>
          <div class="col-xs-2">
              <button type="submit" class="btn btn-default" ng-click="addCondition(condition)">Add</button>
          </div>

      </div>


      <div class="mcs-actions-group">

          <button class="mics-btn mics-btn-finish" ng-click="done()">Done</button>
      </div>
  </form>
</div>

