<div class="campaign-list" ng-controller="core/campaigns/ListEmailCampaignsController">
  <div class="campaign-list-content">
    <div class="campaign-list-heading">
      <h1>
        Email Campaigns
        <div class="dropdown">
          <!--TODO button export disable because not implement yet -->
          <button class="mics-btn mics-btn-finish btn-xs" dropdown-toggle type="button" disabled>Export</button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="Choose Export Format">
            <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="export('xlsx')">Excel (.xlsx)</a></li>
            <!--<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="export('csv')">CSV</a></li>-->
          </ul>
        </div>
        <div class="pull-right">
          <button type="button" class="mics-btn mics-btn-action btn-xs" ng-click="refresh()">
            <span class="glyphicon glyphicon-refresh"></span>Refresh
          </button>
        </div>
      </h1>
    </div>

    <div class="campaign-list-controller">
      <div class="campaign-list-actions">
        <button class="mics-btn mics-btn-add" ng-click="newCampaign()">New Campaign</button>
      </div>
      <div class="campaign-list-date-controller">
        <form class="form-inline" role="form">
          <input type="daterange" ng-model="reportDateRange" class="form-control range" format="L" ranges="reportDefaultDateRanges" opens="'left'">
        </form>
      </div>
    </div>

    <div class="campaign-list-area" ng-show="emailCampaigns.length">
      <table class="campaign-list-table js-auto-hide-actions">
        <thead>
        <tr>
          <th class="status">Status</th>
          <th>Name</th>
          <th ng-if="administrator">Organisation</th>
          <th class="actions">
            Actions
          </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="campaign in emailCampaigns | offset: (currentPageEmailCampaign - 1)*itemsPerPage | limitTo: itemsPerPage">
          <td>
            <div mics-campaign-status="campaign"></div>
          </td>
          <td>{{campaign.name}}</td>
          <td ng-if="administrator">{{organisationName(campaign.organisation_id)}}</td>
          <td class="actions">
            <a class="mics-btn mics-btn-action" ng-click="editCampaign(campaign, $event)">Edit</a>
            <a class="mics-btn mics-btn-delete" ng-click="deleteCampaign(campaign, $event)">Delete</a>
          </td>
        </tr>
        </tbody>
      </table>
      <pagination total-items="emailCampaigns.length" ng-model="currentPageEmailCampaign" items-per-page="itemsPerPage"></pagination>
    </div>

  </div>
</div>
