<div class="campaign-list" ng-Controller="core/campaigns/ListController">
    <div class="campaign-sidebar">

    </div>
    <div class="campaign-list-content">
        <div class="campaign-list-heading">
            <h1>All Campaigns</h1>
        </div>
        <div class="campaign-list-controller">

            <div class="campaign-list-actions">
                <button class="btn btn-default" ng-click="newCampaign()"><span class="glyphicon glyphicon-plus"></span>
                    New Campaign
                </button>
            </div>
            <div class="campaign-list-date-controller">
                <form class="form-inline" role="form">
                    <input type="daterange" ng-model="reportDateRange" class="form-control range" format="L">
                    <button type="button" class="btn btn-default" ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span>
                        Refresh
                    </button>
                </form>
            </div>
        </div>
        <div class="campaign-list-area">
            <div class="test">
                <table class="campaign-list-table ">
                    <thead>
                    <tr>
                        <th>Status</th>
                        <th>Name</th>
                        <th ng-if="administrator">Organisation</th>
                        <th class="metrics" ng-repeat="metric in campaignsStatistics.getMetrics()">
                            {{campaignsStatistics.getMetricName(metric) }}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="campaign in campaigns " ng-click="showCampaign(campaign)">
                        <td>{{campaign.status}}</td>
                        <td>{{campaign.name}} </td>
                        <td ng-if="administrator">{{organisationName(campaign.organisation_id)}}</td>
                        <td class="metrics " ng-repeat="metricValue in campaignsStatistics.getRow(campaign.id) track by $index">
                            <span ng-if="metricValue.type == 'currency'">
                                {{metricValue.value | number:2 | currencyWithSymbol:campaign.currency_code}}
                            </span>
                            <span ng-if="metricValue.type == 'percent'">
                                {{metricValue.value | number}} %
                            </span>
                            <span ng-if="metricValue.type == 'number'">
                                {{metricValue.value | number}}
                            </span>
                            <span ng-if="!metricValue.type">
                                -
                            </span>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>
