<div class="mics-creative-list mcs-default-container" ng-Controller="core/creatives/ListController">
    <div class="mcs-default-sidebar">

    </div>
    <div class="mcs-default-content">
        <div class="mcs-default-heading">
            <h1>All Creatives</h1>
        </div>
        <div class="mics-table-toolbar">
            <div class ="col-md-6">
                <button class="mics-btn mics-btn-add" ng-click="newCreative()" >New Creative</button>
            </div>
        </div>
            <table class="mics-table">
                <thead>
                <tr>
                    <th></th>
                    <th>Status</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th ng-if="administrator">Organisation</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="creative in creatives " ng-click="showCreative(creative)">
                    <td><img style="max-height:40px" creative-thumbnail="creative.id"/></td>
                    <td>{{creative.status}}</td>
                    <td>{{creative.name}} </td>
                    <td>{{creative.type}}</td>
                    <td ng-if="administrator">{{organisationName(creative.organisation_id)}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
