<div ng-controller="core/campaigns/emails/MainController" class="mcs-default-container">
  <div class="mcs-default-sidebar">
    <div class="organisation-name-block">
      {{currentOrganisation}}
    </div>
    <div class="mcs-campaign-type ">
      <img src="/images/plugins/keywords-targeting-small.png" style="height:150px"><br />
      <h4  style="display: inline-block" >Email Campaign</h4>
    </div>
  </div>
  <form ng-submit="next()" class="mcs-default-content mcs-full-page-form">

    <div class="mcs-default-heading">
      <h1 ng-if="isCreationMode">Create Email Campaign</h1>
      <h1 ng-if="!isCreationMode">Edit Email Campaign</h1>
    </div>

    <!-- Name -->
    <div mcs-form-group="" label-for="email_step1_name" label-text="Campaign name">
      <input required class="input-lg" ng-model="campaign.name" type="text" id="email_step1_name">
    </div>


    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
              Advanced Options
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">

            <div mcs-form-group="" label-for="email_step1_technical_id" label-text="Technical Id">
              <input required ng-model="campaign.technical_id" type="text" id="email_step1_technical_id">
            </div>

          </div>
        </div>
      </div>
    </div>



    <div class="mcs-actions-group">
      <a class="mics-btn mics-btn-cancel" ng-click="cancel()">Cancel</a>
      <button class="mics-btn mics-btn-finish">Done</button>
    </div>
  </form>
</div>
