<div ng-controller="core/usergroups/EditAllController" class="mcs-default-container">
  <div class="mcs-default-sidebar">
  </div>
  <div class="mcs-default-content">
    <div class="mcs-default-heading">
      <h1>All User Groups</h1>
    </div>
    <div class="mics-table-toolbar">
      <div class ="col-md-6">
        <div class="dropdown">
          <button class="mics-btn mics-btn-add dropdown-toggle" type="button" data-toggle="dropdown">
            New User Group
            <!-- <span class="caret"></span> -->
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="New User Group">
            <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="createUserGroup('CAMPAIGN_FEED')">
              Fed by campaign
            </a></li>
          </ul>
        </div>
      </div>
    </div>
    <table class="mics-table js-auto-hide-actions" ng-show="userGroups.length">
      <thead>
        <tr>
          <th>Name</th>
          <th>Technical Id</th>
          <th>Type</th>
          <th class="actions">Actions</th>
        </tr>
      </thead>
      <tbody>
      <tr ng-repeat="userGroup in userGroups">
        <td>{{userGroup.name}}</td>
        <td>{{userGroup.technical_name}}</td>
        <td>{{userGroup.group_type}}</td>
        <td class="actions">
          <a class="mics-btn mics-btn-action" ng-click="editUserGroup(userGroup, $event)">Edit</a>
          <a class="mics-btn mics-btn-delete" ng-click="deleteUserGroup(userGroup, $event)">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
