
<div class="container-fluid">

  <!-- campaign edition form -->
  <h3>Campaign</h3>

  <div class="" ng-Controller="Expert.EditCampaignController">
    <div class="row-fluid">
      <div class="col-md-8">

        <form  role="form">

          <div class="form-group">
            <label>Id</label>
            <p  class="form-control-static">{{campaign.id}}</p>
          </div>

          <!-- Name -->
          <div class="form-group">
            <label for="name">Campaign name</label>
            <input  ng-model="campaign.name" type="text" class="form-control" id="name">
          </div>

          <!-- Weekly budget -->
          <div class="form-group">
            <label for="weekly_budget">Weekly budget</label>
            <input ng-model="campaign.weekly_budget" type="text" class="form-control" id="weekly_budget">
          </div>

          <!-- Schedule -->
          <div class="form-group">
            <label for="weekly_budget">Schedule</label>
            <select>
              <option>Ongoing (no end date)</option>
              <option></option>
            </select>  
          </div>

          <!-- Location -->
          <div class="form-group">
            <label for="location">Location</label>
            <select>
              <option>Worldwide</option>
              <option></option>
            </select>  
          </div>


          <!-- Ad Groups -->      
          <div class="form-group">
            <div ng-repeat="adGroup in adGroups">
                 <div ng-include src="'views/display-campaigns/templates/expert/view-ad-group.html'"></div>
            </div>            

            <div class="btn-group">
              <button class="btn btn-default" ng-click="newAdGroup()">Create new Ad Group</button>
            </div>
          </div>
          

          <!-- Display Networks -->



          <!-- saver or cancel -->
          <div class="btn-group">
            <button class="btn btn-default" ng-click="save()">Save</button>  
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
          </div>          

        </form>

      </div>
    </div>

  </div>
</div>