<style>
      .drop-target {
        border: 5px dashed #999;
        text-align: center;
        color: #999;
        font-size: 16px;
        width: 80%;
        height: 200px;
        line-height: 200px;
        cursor: pointer;
        margin-right : auto;
        margin-left : auto;
      }
      
      .drop-target.dragover {
        background: rgba(255, 255, 255, 0.4);
        border-color: green;
      }
      
</style>

<div mics-pl-upload id="ad-upload">
	<h3>Upload Ad</h3>

	<button  class="btn btn-default browse-button" >Select files</button>

	<div class="drop-target" style="position: relative; z-index: 0;">Drop your files here</div>
	
	<div class="upload-debug">No runtime found, your browser doesn't support HTML5 drag &amp; drop upload.</div>

    <button ng-click="done()" class="btn btn-default" >Done</button>
</div>	
