<div >
  <div class="modal-header">
    <h3>Change password</h3>
  </div>

  <div class="modal-body">
    <div class="row">

      <div class="col-md-8 col-md-offset-1">
        <!-- old password -->  
        <div mcs-form-group="" label-for="oldPassword" label-text="Old password">
          <input  ng-model="oldPassword" type="password" class="form-control input-lg" id="oldPassword">
        </div>
          
        <!-- new password -->
        <div mcs-form-group="" label-for="newPassword" label-text="New password">
          <input  ng-model="oldPassword" type="password" class="form-control input-lg" id="oldPassword">
        </div>

        <!-- confirm new password -->
        <div mcs-form-group="" label-for="confirmPassword" label-text="Confirm new password">
          <input  ng-model="confirmPassword" type="password" class="form-control input-lg" id="confirmPassword">
        </div>    
      </div>

    </div>
  </div>

  <div class="modal-footer">
    <a class="mics-btn mics-btn-finish" ng-click="submit()">Submit</a>
    <a ng-click="cancel()" class="mics-btn mics-btn-cancel">Cancel</a>
  </div>
</div>