<div class="mcs-default-container" ng-Controller="core/usersettings/EditUserSettingsController">

  <div class="mcs-default-sidebar ">

    <div class="organisation-name-block">
      {{userOrganisation}}
    </div>
  </div>

  <form role="form" class="mcs-default-content mcs-full-page-form">
    
    <!-- User Settings edition form -->
    <div class="mcs-default-heading">
      <h3>Editing user settings</h3>
    </div>


    <div mcs-form-group="" label-for="firstName" label-text="Firstname">
      <input  ng-model="userSettings.first_name" type="text" class="form-control input-lg" format="L"  id="firstName">        
    </div>

    <div mcs-form-group="" label-for="lastName" label-text="Lastname">
      <input  ng-model="userSettings.last_name" type="text" class="form-control input-lg" id="lastName">        
    </div>

    <div mcs-form-group="" label-for="email" label-text="Email">
      <input  ng-model="userSettings.email" type="text" class="form-control input-lg" id="email">        
    </div>


    <div mcs-form-group="" label-for="preferredLanguage" label-text="Preferred language">
      <select ng-model="userSettings.language" class="input-lg">
        <option value="en">English</option>
        <option value="fr">Français</option>        
      </select>      
    </div>

    <!--
    <div mcs-form-group="" label-for="role" label-text="Role">
      <div class="mcs-form-control-static" id="role">Administrator</div>
    </div>  
    -->

    <div mcs-form-group="" label-for="password" label-text="Password">
      <div class="btn-group" id="password">
        <a ng-click="changePassword()" class="mics-btn mics-btn-action">Change</a>
      </div>
    </div>
    
      <!-- save or cancel -->
    <div class="mcs-actions-group">
      <button class="mics-btn mics-btn-finish" ng-click="save()">Save</button>
      <button class="mics-btn mics-btn-cancel" ng-click="cancel()">Cancel</button>
    </div>

  </form>
</div>
