<div class="container" ng-controller="core/password/ResetPasswordController">

  <div ng-show="errorMessage" class="alert alert-danger">
    {{errorMessage}}
  </div>
  <div ng-show="successMessage" class="alert alert-success">
    {{successMessage}}
  </div>
  <form ng-submit="submit()" role="form" ng-show="successMessage == null" class="mcs-form-reset-password">
    <div class="mcs-default-heading">
      <h2>Choose a new password</h2>
    </div>

    <input required ng-model="newPassword" type="password" class="form-control reset-password" id="newPassword" placeholder="New password"/>
    <input required ng-model="confirmPassword" type="password" class="form-control reset-password" id="confirmPassword" placeholder="Confirm password"/>

    <hr>
    <p>Passwords are case-sensitive and must be at least 4 characters long.
      A good password should contain a mix of capital and lower-case letters, numbers and symbols.</p>
    <hr>

    <div class="row">
      <div class="col-md-6">
        <button type="button" ng-show="successMessage == null" ng-click="goTo('/login')" class="mics-btn mics-btn-cancel">Cancel</button>
        <button type="submit" ng-show="successMessage == null" class="mics-btn mics-btn-finish">Continue</button>
      </div>
      <div class="col-md-6">
        <p ng-show="infoMessage">{{infoMessage}}</p>
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col-md-12" ng-show="successMessage != null">
      <button class="mics-btn mics-btn-finish" ng-click="login()">Click here to continue to your session</button>
    </div>
  </div>

</div>
