<!-- login form -->
<div ng-controller="core/password/ResetPasswordController" class="container">

  <form class="mcs-form-reset-password" ng-submit="submit()" role="form">
    <div ng-show="messageError" class="alert alert-danger">
      {{messageError}}
    </div>
    <h2>Choose a new password</h2>

    <input required ng-model="newPassword" type="text" class="form-control reset-password" id="newPassword" placeholder="New password"/>
    <input required ng-model="confirmPassword" type="text" class="form-control reset-password" id="confirmPassword" placeholder="Confirm password"/>

    <hr>
    <p>Passwords are case-sensitive and must be at least 4 characters long.
      A good password should contain a mix of capital and lower-case letters, numbers and symbols.</p>
    <hr>

    <button type="submit" class="mics-btn mics-btn-finish" style="float: right;">Continue</button>
  </form>

</div>
