<div ng-controller="core/visitanalysers/EditOneController" class="mcs-default-container">
  <div class="mcs-default-sidebar">
    <div class="organisation-name-block">
      {{currentOrganisation}}
    </div>
  </div>
  <form ng-submit="next()" class="mcs-default-edit-content mcs-full-page-form">

    <div class="mcs-default-heading">
      <h1>Edit Visit Analyser</h1>
    </div>

    <!-- Name -->
    <div mcs-form-group="" label-for="visit_analyser_name" label-text="Visit Analyser Name">
      <input required class="input-lg" ng-model="visitAnalyser.name" type="text" id="visit_analyser_name">
    </div>

    <div class="row">

      <div class="col-md-12">
        <h4>Properties</h4>

        <div ng-repeat="property in properties">
          <mcs-double-property property="property.value" ng-if="property.value.property_type == 'STRING'"  ng-disabled="property.value.origin == 'PLUGIN_STATIC'"></mcs-double-property>
          <mcs-boolean-property property="property.value" ng-if="property.value.property_type == 'BOOLEAN'" ng-disabled="property.value.origin == 'PLUGIN_STATIC'"></mcs-boolean-property>
        </div>
      </div>
    </div>

    <div class="mcs-actions-group">
      <a class="mics-btn mics-btn-cancel" ng-click="cancel()">Cancel</a>
      <button class="mics-btn mics-btn-finish">Done</button>
    </div>
  </form>
</div>

