<div ng-controller="core/queries/EditAllController" class="mcs-default-container">
  <div class="mcs-default-sidebar">
  </div>
  <div class="mcs-default-content">
    <div class="mcs-default-heading">
      <h1>All Querys</h1>
    </div>
    <div class="mics-table-toolbar">
      <div class ="col-md-6">
        <div class="dropdown">
          <button class="mics-btn mics-btn-add" type="button" ng-click="createQuery()">
            New Query
            <!-- <span class="caret"></span> -->
          </button>



        </div>
      </div>
    </div>
    <table class="mics-table js-auto-hide-actions" ng-show="queries.length">
      <thead>
        <tr>
          <th>Name</th>
          <th class="actions">Actions</th>
        </tr>
      </thead>
      <tbody>
      <tr ng-repeat="query in queries">

        <td>{{query.name}}</td>
        <td class="actions">
          <a class="mics-btn mics-btn-action" ng-click="editQuery(query, $event)">Edit</a>
          <a class="mics-btn mics-btn-delete" ng-click="deleteQuery(query, $event)">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
