<div class="create-rule">
  <div class="modal-header">
    <h3>Catalog Auto Match</h3>
  </div>

  <form ng-submit="done()">
    <div class="modal-body">
      <div mcs-form-group="full">
        <label for="autoMatchType">Auto match type
          <span class="badge creative-audit-notification-warning" uib-popover="The auto match type" popover-trigger="mouseenter" popover-placement="right">?</span>
        </label>
        <select required="required" class="form-control" ng-model="rule.auto_match_type" ng-options="key as value for (key, value) in autoMatchTypes" id="autoMatchType"></select>
      </div>
    </div>

    <div class="modal-footer">
      <button ng-click="cancel()" class="mics-btn mics-btn-cancel">Cancel</button>
      <button type="submit" id="submit" class="mics-btn mics-btn-finish">Done</button>
    </div>
  </form>
</div>
