<div class="create-alias">
  <div class="modal-header">
    <h3>New Alias</h3>
  </div>

  <form ng-submit="alias.length && done()">
    <div class="modal-body">
      <label for="name">Domain Name</label>
      <input class="form-control input-md" ng-model="alias" type="text" id="name">
    </div>

    <div class="modal-footer">
      <a ng-click="cancel()" class="mics-btn mics-btn-cancel">Cancel</a>
      <a type="submit" id="submit" ng-disabled="!alias.length" class="mics-btn mics-btn-finish">Done</a>
    </div>
  </form>
</div>