<div class="mcs-default-container" ng-controller="core/settings/sites/EditOneController">

  <div class="mcs-default-content settings-content">
    <div class="mcs-default-heading">
      <h1 ng-show="!editMode">New Site</h1>
      <h1 ng-show="editMode">Edit Site</h1>
    </div>

    <form class="mcs-full-page-form">
      <div class="row">
        <div class="col-xs-3">
          <div mcs-form-group="full">
            <label for="name">Domain Name
              <span class="badge" data-html="true" uib-popover-html="'The web domain of the website<br/> (e.g. myshop.com)'" uib-popover-template="" popover-trigger="mouseenter" popover-placement="right">?</span>
            </label>
            <input class="form-control input-md" ng-model="site.name" type="text" id="name">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-3">
          <div mcs-form-group="full">
            <label for="token">Token
              <span class="badge" popover="A unique random identifier (e.g. ABCD123)" popover-trigger="mouseenter" popover-placement="right">?</span>
            </label>
            <input class="form-control input-md" ng-model="site.token" type="text" id="token">
          </div>
        </div>
      </div>

      <h3 id="aliases">Web Domain Aliases
        <span class="badge" uib-popover-html="'A list of alternative web domains<br> to the given website'" popover-trigger="mouseenter" popover-placement="right">?</span>
      </h3>

      <div class="row">
        <div ng-show="aliases.length" class="form-group col-md-2">
          <input class="form-control" type="text" ng-model="filteredAlias" placeholder="Search">
        </div>
        <div class="form-group col-md-2">
          <button class="mics-btn mics-btn-add" ng-click="newAlias()">New Alias</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <table ng-show="aliases.length" class="mics-table js-auto-hide-actions table-hover">
            <thead>
            <tr>
              <th>Domain Name</th>
              <th class="actions">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="alias in filteredAliases() | offset : (aliasesCurrentPage - 1) * aliasesPerPage | limitTo: aliasesPerPage">
              <td>{{alias.name}}</td>
              <td class="actions">
                <a class="mics-btn mics-btn-delete" ng-click="removeAlias(alias)">Remove</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <br>

      <mcs-event-rules rules="rules"></mcs-event-rules>


      <br>

      <div class="row-fluid">
          <div class="form-inline">
            <h3>
              Visit Analyser
              <span class="badge site" data-html="true" uib-popover-html="'The visit analyser user for the domain'" uib-popover-template="" popover-trigger="mouseenter" popover-placement="right">?</span>
               <div ng-include="'src/core/visitanalysers/choose-visit-analyser.html'" class="form-group"></div>
            </h3>
          </div>
          <br>

          <table class="mics-table js-auto-hide-actions" ng-hide="!visitAnalyser">
            <thead>
            <tr>
              <th>Name</th>
              <th>Visit Analyser Processor</th>
              <th>Provider</th>
              </tr>
            </thead>
            <tbody>
            <tr fetch-plugin-properties-from-version="visitAnalyser.visit_analyzer_plugin_id as visitAnalyserProperties">
              <td>{{visitAnalyser.name}}</td>
              <td>{{visitAnalyserProperties['name'].value}}</td>
              <td>{{visitAnalyserProperties['provider'].value}}</td>
              </tr>
            </tbody>
          </table>

      </div>



      <div class="mcs-actions-group">
        <button class="mics-btn mics-btn-cancel" ng-click="cancel()">Cancel</button>
        <button ng-disabled="!(site.name.length && site.token.length)" class="mics-btn mics-btn-finish" ng-click="done()">Done</button>
      </div>


    </form>
  </div>
</div>
