<div class="mcs-default-container" ng-controller="core/settings/sites/EditOneController">

  <div class="mcs-default-content site-content">
    <div class="mcs-default-heading">
      <h1 ng-show="!editMode">New Site</h1>
      <h1 ng-show="editMode">Edit Site</h1>
    </div>

    <form class="mcs-full-page-form">
      <div class="row">
        <div class="col-xs-3">
          <div mcs-form-group="full">
            <label for="name">Domain Name
              <span class="badge site" data-html="true" uib-popover-html="'The web domain of the website<br/> (e.g. myshop.com)'" uib-popover-template="" popover-trigger="mouseenter" popover-placement="right">?</span>
            </label>
            <input class="form-control input-md" ng-model="site.name" type="text" id="name">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-3">
          <div mcs-form-group="full">
            <label for="token">Token
              <span class="badge site" popover="A unique random identifier (e.g. ABCD123)" popover-trigger="mouseenter" popover-placement="right">?</span>
            </label>
            <input class="form-control input-md" ng-model="site.token" type="text" id="token">
          </div>
        </div>
      </div>

      <h3 id="aliases">Web Domain Aliases
        <span class="badge site" uib-popover-html="'A list of alternative web domains<br> to the given website'" popover-trigger="mouseenter" popover-placement="right">?</span>
      </h3>

      <div class="row">
        <div ng-show="aliases.length" class="form-group col-md-2">
          <input class="form-control" type="text" ng-model="filteredAlias" placeholder="Search">
        </div>
        <div class="form-group col-md-2">
          <button class="mics-btn mics-btn-add" ng-click="newAlias()">New Alias</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <table ng-show="aliases.length" class="mics-table js-auto-hide-actions table-hover">
            <thead>
            <tr>
              <th>Domain Name</th>
              <th class="actions">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="alias in filteredAliases() | offset : (aliasesCurrentPage - 1) * aliasesPerPage | limitTo: aliasesPerPage">
              <td>{{alias.name}}</td>
              <td class="actions">
                <a class="mics-btn mics-btn-delete" ng-click="removeAlias(alias)">Remove</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <br>

      <h3>Event Rules</h3>
      <div class="mics-table-background">
        <div class="mics-table-inline right-spaced">
          <div class="row">
            <div class="form-group col-md-8">
              <input class="form-control" type="text" ng-model="filteredRule" placeholder="Search">
            </div>
            <div class='col-md-1'>
              <div class="dropdown" dropdown>
                <button class="mics-btn mics-btn-add" dropdown-toggle type="button">New Rule</button>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a role="menuItem" tabindex="-1" ng-click="newRule('USER_ACCOUNT_ID_INSERTION')">User Account Setup</a>
                  </li>
                  <li><a role="menuItem" tabindex="-1" ng-click="newRule('CATALOG_AUTO_MATCH')">Catalog Auto Match</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <table class="mics-table mics-clickable-table js-auto-hide-actions table-hover">
                <thead>
                <tr>
                  <th class="first-column">Event Rule Type</th>
                  <th class="second-column">Summary</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="rule in filteredEventRules() | offset : (rulesCurrentPage - 1) * rulesPerPage | limitTo: rulesPerPage" ng-click="showDetails(rule)">
                  <td class="first-column">{{ruleTypes[rule.type]}}</td>
                  <td class="second-column">{{getSummary(rule)}}</td>
                </tr>
                <tr ng-show="ruleCreationMode">
                  <td class="first-column">{{ruleTypes[tmpRule.type]}}</td>
                  <td class="second-column">{{getSummary(tmpRule)}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="mics-table-inline fixed">
          <div class="row">
            <div class="col-xs-12">
              <h3 class="selected-title ">{{ruleTypes[selectedRule.type]}}</h3>
            </div>
          </div>
          <div class="row">
            <div ng-show="selectedRule.type == 'CATALOG_AUTO_MATCH'" class="col-xs-12">
              <div class="selected-editing">
                <label for="autoMatchType"><strong>Auto match type</strong>
                  <span class="badge site" uib-popover="Match urls with products and/or categories urls" popover-trigger="mouseenter" popover-placement="right">?</span>
                </label>
                <div ng-show="ruleEditMode">
                  <select required="required" class="form-control" ng-model="tmpRule.auto_match_type" ng-options="key as value for (key, value) in autoMatchTypes" id="autoMatchType"></select>
                </div>
                <div ng-show="!ruleEditMode">{{autoMatchTypes[selectedRule.auto_match_type]}}</div>
              </div>
            </div>

            <div ng-show="selectedRule.type === 'USER_ACCOUNT_ID_INSERTION'" class="col-xs-12">
              <div class="selected-editing">
                <label for="userAccountIdProperty"><strong>Property</strong>
                  <span class="badge site" uib-popover="The name of the property containing the data used to compute the User Account Id" popover-trigger="mouseenter" popover-placement="right">?</span>
                </label>
                <div ng-show="ruleEditMode">
                  <input class="form-control input-md" ng-model="tmpRule.property_source" type="text" id="userAccountIdProperty">
                </div>
                <div ng-show="!ruleEditMode">{{shortenString(selectedRule.property_source, 50)}}</div>
                <br>
                <label label-for="hash"><strong>Transformation Function</strong>
                  <span class="badge site" uib-popover-html="'The function used to compute<br>the User Account Id'" popover-trigger="mouseenter" popover-placement="right">?</span>
                </label>
                <div ng-show="ruleEditMode">
                  <select class="form-control" ng-model="tmpRule.hash_function" ng-options="hash for hash in hashFunctions" id="hash"></select>
                </div>
                <div ng-show="!ruleEditMode">{{selectedRule.hash_function}}</div>
                <br>
                <label><input ng-disabled="!ruleEditMode" type="checkbox" ng-model="tmpRule.remove_source"> Remove property after transformation</label>
                <br>
                <label><input ng-disabled="!ruleEditMode" type="checkbox" ng-model="tmpRule.to_lower_case"> Lower case before transform</label>
              </div>
            </div>
          </div>
          <div ng-show="selectedRule" class="row selected-action-buttons">
            <div class="col-xs-12">
              <button ng-show="!ruleEditMode" class="mics-btn mics-btn-continue pull-right" ng-click="editRule()">Edit</button>
              <button ng-show="!ruleEditMode" class="mics-btn mics-btn-cancel pull-right" ng-click="removeRule(selectedRule)">Remove</button>
              <button ng-show="ruleEditMode" ng-disabled="selectedRule.type === 'USER_ACCOUNT_ID_INSERTION' && !tmpRule.property_source.length" class="mics-btn mics-btn-finish pull-right" ng-click="confirmRuleEdit()">Done</button>
              <button ng-show="ruleEditMode" class="mics-btn mics-btn-cancel pull-right" ng-click="cancelRuleEdit()">Cancel</button>
            </div>
          </div>
        </div>
      </div>

      <div class="mcs-actions-group">
        <button class="mics-btn mics-btn-cancel" ng-click="cancel()">Cancel</button>
        <button ng-disabled="!(site.name.length && site.token.length)" class="mics-btn mics-btn-finish" ng-click="done()">Done</button>
      </div>
    </form>
  </div>
</div>
