<div class="mcs-default-container" ng-controller="core/settings/sites/ViewAllController">

  <div class="mcs-default-content">
    <div class="mcs-default-heading">
      <h1>Sites</h1>
    </div>
  </div>

  <div class="row mics-table-toolbar">
    <div class="col-xs-2">
      <button ng-click="new()" class="mics-btn mics-btn-add">New Site</button>
    </div>
  </div>

  <table class="mics-table js-auto-hide-actions table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Token</th>
      <th>Creation Date</th>
      <th class="actions">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="site in sites| offset : (currentPageCreative - 1) * itemsPerPage | limitTo: itemsPerPage">
      <td>{{site.name}}</td>
      <td>{{site.token}}</td>
      <td>{{site.creation_date}}</td>
      <td class="actions">
        <a class="mics-btn mics-btn-edit" ng-click="edit(site)">Edit</a>
        <a class="mics-btn mics-btn-delete" ng-click="archive(site)">Archive</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
