<div class="mcs-default-container" ng-controller="core/settings/SettingsController">

  <div class="mcs-default-content">
    <div class="mcs-default-heading">
      <h2>Settings</h2>
    </div>

    <h3>Basic Information</h3>
    <table class="table">
      <thead></thead>
      <tbody>
      <tr>
        <td><strong>Name</strong></td>
        <td>{{firstName}} {{lastName}}</td>
      </tr>
      <tr>
        <td><strong>Email</strong></td>
        <td>{{email}}</td>
      </tr>
      <tr>
        <td><strong>Password</strong></td>
        <td>
          <button class="mics-btn mics-btn-action" ng-click="changePasswordRequest()">Change password</button>
        </td>
      </tr>
      </tbody>
    </table>

    <div ng-show="workspaces">
      <h3>Workspaces</h3>
      <table class="table table-hover" id="searchWorkspaces">
        <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Role</th>
          <th>Administrator</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="workspace in workspaces">
          <td>{{workspace.organisation_id}}</td>
          <td>{{workspace.organisation_name}}</td>
          <td>{{workspace.role}}</td>
          <td>{{workspace.administrator}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
