<div class="choose-existing-keyword-list">
  <div class="modal-header">
    <h3>Enter Postal codes</h3>
  </div>

  <div class="modal-body">
      <form>
      <div mcs-form-group="select" label-for="country" label-text="Country">
          <select class="form-control"  id="country" ng-model="input.country" required="true">
              <option value="FR">France</option>
          </select>
      </div>

    <textarea  class="form-control" ng-model="input.postalCodesList" ></textarea>
      </form>
  </div>
  <div class="modal-footer">
    <a class="mics-btn mics-btn-finish" ng-show="addedPostalCodes.length && input.country != ''" ng-click="done()">Done</a>
    <a ng-click="cancel()" class="mics-btn mics-btn-cancel">Cancel</a>
  </div>
</div>

