<div class="choose-existing-display-network">
  <div class="modal-header">
    <h3>Add/Edit External programmatic activation</h3>
  </div>

  <div class="modal-body">

    <div mcs-form-group="" label-for="max_budget_per_period" label-text="Host">
        <select class="form-control input-lg" ng-model="activation.host">
          <option value="Google">Google</option>
          <option value="AppNexus">AppNexus</option>
        </select>
    </div><br>

    <div mcs-form-group="" label-for="user-account-id" label-text="User account id">
      <input ng-model="activation.user_account_id" type="text" class="form-control input-lg" id="user-account-id">
    </div><br>

    <div mcs-form-group="" label-for="segment-id" label-text="Segment id">
      <input ng-model="activation.segment_id" type="text" class="form-control input-lg" id="segment-id">
    </div><br>

    <div mcs-form-group="" label-for="comment" label-text="Comment">
      <input ng-model="activation.comment" type="text" class="form-control input-lg" id="comment">
    </div>

  </div>

  <div class="modal-footer">
    <a class="mics-btn mics-btn-finish" ng-click="done()">Done</a>
    <a ng-click="cancel()" class="mics-btn mics-btn-cancel">Cancel</a>
  </div>
</div>
