<div class="choose-existing-display-network">
  <div class="modal-header">
    <h3>Select Conversion Goals</h3>
  </div>

  <div class="modal-body">
    <table class="mics-table">
      <thead>
      <tr>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="goal in availableGoals">
        <td><label><input type="checkbox" checklist-model="selectedGoals" checklist-value="goal"> {{goal.name}}</label></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="modal-footer">
    <a class="mics-btn mics-btn-finish" ng-show="selectedGoals.length" ng-click="done()">Done</a>
    <a ng-click="cancel()" class="mics-btn mics-btn-cancel">Cancel</a>
  </div>
</div>
