<div ng-controller="core/datamart/segments/EditOneController" class="mcs-default-container">
  <div class="mcs-default-sidebar">
    <div class="organisation-name-block">
      {{currentOrganisation}}
    </div>
  </div>
  <form ng-submit="next()" class="mcs-default-edit-content mcs-full-page-form">

    <div class="mcs-default-heading">
      <h1 ng-if="isCreationMode">Create Audience Segment</h1>
      <h1 ng-if="!isCreationMode">Edit Audience Segment</h1>
    </div>

    <div class="row" ng-show='error'>
      <div class="col-md-12">
        <div class="alert alert-danger" role="alert">{{error}}</div>
      </div>
    </div>

    <!-- Name -->
    <div mcs-form-group="" label-for="audience_segment_name" label-text="Name">
      <input required class="input-lg" ng-model="segment.name" type="text" id="audience_segment_name">
    </div>



    <h1>
      <div class="pull-right">
        <a class="mics-btn mics-btn-action" ng-click="refreshQuery()">Refresh</a>
      </div>
      <span>Query</span>
    </h1>

    <br>

    <div ng-if="segment.type == 'USER_QUERY'">
    <mcs-query-tool datamart-id="datamartId" autoload="true" query-id="segment.query_id"></mcs-query-tool>
    <br>
    </div>

    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
              Advanced Options
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">

            <div mcs-form-group="" label-for="audience_segment_technical_name" label-text="Technical Name">
              <input ng-model="segment.technical_name" type="text" id="audience_segment_technical_name">
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="mcs-actions-group">
      <a class="mics-btn mics-btn-cancel" ng-click="cancel()">Cancel</a>
      <button class="mics-btn mics-btn-finish">Done</button>
    </div>
  </form>
</div>

