<div class="mcs-default-container mics-report" ng-controller="core/datamart/segments/ViewOneController">
    <div class="report mcs-default-content">

        <div class="report-heading">
            <h2>
                <div class="pull-right">
                    <a class="mics-btn mics-btn-action"
                       href="#/{{organisationId}}/datamart/segments/{{type}}/{{segmentId}}">Edit Segment</a>
                </div>
                <span class="ng-binding">{{segment.name}}</span>
            </h2>
        </div>

        <div class="chart-controller">
            <div class="report-type-controller">
                <ul class="nav nav-pills">
                    <li class="active"><a>Overview</a></li>
                </ul>
            </div>
        </div>
        <div class="segment-statistics">

            <div class="col-md-12 segment-statistics-header">
                <br/>

                <div ng-show="statsLoading" class="loading">
                    <img src="./images/ajax-loader.gif" class="ajax-loader">
                </div>
                <div ng-show="!statsLoading">
                    <div class="col-sm-3">
                        <div class="query-stats"><span title="Total users"
                                                       class="glyphicon glyphicon-user btn-lg total-user"></span>{{statistics.total
                            | number}}
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="query-stats"><span title="Total users with user account"
                                                       class="glyphicon glyphicon-user btn-lg"></span>{{statistics.hasUserAccountId
                            | number}}
                        </div>
                        <div class="ratio-query-stats">
                                <span ng-if="statistics.total > 0">
                                    {{(statistics.hasUserAccountId * 100 / statistics.total) | number : 2}} %
                                </span>
                                 <span ng-if="statistics.total == 0">
                                    0 %
                                </span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="query-stats"><span title="Total users with email"
                                                       class="glyphicon glyphicon-envelope btn-lg"></span>{{statistics.hasEmail
                            | number}}
                        </div>
                        <div class="ratio-query-stats">
                                <span ng-if="statistics.total > 0">
                                {{(statistics.hasEmail * 100 / statistics.total) | number : 2}} %
                                </span>
                                <span ng-if="statistics.total == 0">
                                    0 %
                                </span>
                        </div>

                    </div>
                    <div class="col-sm-3">
                        <div class="query-stats"><span title="Total users with cookies"
                                                       class="glyphicon glyphicon-globe btn-lg"></span>{{statistics.hasCookie
                            | number}}
                        </div>

                        <div class="ratio-query-stats">
                                <span ng-if="statistics.total > 0">
                                {{(statistics.hasCookie * 100 / statistics.total) | number : 2}} %
                                </span>
                                <span ng-if="statistics.total == 0">
                                    0 %
                                </span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="report-toolbar">
                <div class="date-export-toolbar">
                    <div class="report-date-controller">
                        <!-- date picker https://github.com/sagivf/ng-bs-daterangepicker -->
                        <form class="form-inline pull-right" role="form">
                            <input type="daterange" ng-model="reportDateRange" class="form-control range"
                                   format="L"
                                   ranges="reportDefaultDateRanges" opens="'left'">
                        </form>
                    </div>
                </div>
            </div>

            <div class="charts col-md-12">
                <div class="col-md-6">
                    <div class="chart">

                        <nvd3 options="breakDownOptions"
                              data="breakDownData"></nvd3>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="chart">

                        <nvd3 options="optionsCreationSuppression"
                              data="dataCreationSuppression"></nvd3>

                    </div>
                </div>
            </div>

        </div>


    </div>

</div>