<div class="no-navbar" ng-show="!topbar"></div>
<div class="navbar navbar-default navbar-static-top  mcs-top-navbar navbar-inverse" role="navigation" ng-controller="core/layout/HeaderController" ng-show="topbar">
  <div class="container-fluid ">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="images/mediarithmics-small-white.png" /></a>
    </div>

    <div class="navbar-collapse collapse" ng-if="isLoggued">

      <ul class="nav navbar-nav mcs-main-nav">
        <li ng-class="category == 'datamart' ? 'active' : ''" ><a href="#datamart/users">Audience</a></li>
        <li ng-class="category == 'campaigns' ? 'active' : ''"><a href="#campaigns" >Campaigns</a></li>
        <li ng-class="category == 'creatives' ? 'active' : ''"><a href="#creatives">Creatives</a></li>
        <li ng-class="category == 'library' ? 'active' : ''" class="dropdown">
          <a href="#" class="dropdown-toggle">Library</a>
          <ul class="dropdown-menu">
            <li><a href="#library/usergroups">User Groups</a></li>
            <li><a href="#library/placementlists">Placement Lists</a></li>
            <li><a href="#library/keywordslists">Keywords Lists</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
              <a href="#" class="dropdown-toggle mcs-workspace-label" data-toggle="dropdown">{{currentOrganisation}}<b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li ng-repeat="workspace in workspaces"><a ng-click="switchWorkspace(workspace.idx)">{{workspace.organisationName}}</a></li>
              </ul>
          </li>

        <li><a href="#logout">Logout</a></li>
      </ul>
    </div>
    <div class="navbar-collapse collapse" ng-if="!isLoggued">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#login">Log in</a></li>
      </ul>
    </div>
  </div>
</div>
