<div ng-controller="core/campaigns/keywords/Step3Controller" class="row">

  <form ng-submit="next()" class="col-md-10">

    <div ng-include="'src/core/campaigns/keywords/breadcrumb.html'"></div>

    <div ng-include="'src/core/adgroups/choose-ads.html'"></div>


    <div ng-show="!campaign.creatives.length" class="front-recommentation">
      We recommend using the following ad sizes :<br>
      <span>160x600</span>
      <span>728x90</span>
      <span>300x250</span>
    </div>
    <div ng-show="campaign.creatives.length">
      <table class="fragment-list-creatives list-ads">
        <thead>
          <tr>
            <th>Size</th>
            <th>Ad Name</th>
            <th>Url</th>
            <th>Created</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
        <tr ng-repeat="creative in campaign.creatives">
          <!-- <td mics-asset-thumbnail asset="creative"></td> -->
          <td>
            <div class="thumbnail">
              <img ng-src="http://placekitten.com/50/50" />
              <div class="caption">
                {{creative.format}}
              </div>
            </div>
          </td>
          <td>
            {{creative.name}}
          </td>
          <td>
            {{creative.url_target}}
          </td>
          <td>
            {{creative.creation_date|date:'shortDate'}}
          </td>
          <td class="delete-action">
            <a ng-click="deleteCreative(creative)">x</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <a class="btn btn-default" ng-click="previous()">go back</a>
    <button class="btn btn-default">next</button>
  </form>
</div>

