<div ng-controller="core/campaigns/keywords/Step3Controller" class="mcs-default-container">

  <div class="mcs-default-sidebar">
  </div>

  <form ng-submit="next()" class="mcs-default-content mcs-full-page-form">

    <div class="mcs-default-heading">
      <h1>Create Keywords Campaign</h1>
    </div>
    <div ng-include="'src/core/campaigns/keywords/breadcrumb.html'"></div>

    <div ng-include="'src/core/adgroups/choose-ads.html'"></div>


    <div ng-show="!campaign.creatives.length" class="front-recommentation">
      We recommend using the following ad sizes :<br>
      <span>160x600</span>
      <span>728x90</span>
      <span>300x250</span>
    </div>
    <div ng-show="getAds(adGroup.id).length">
      <table class="fragment-list-creatives">
        <thead>
          <tr>
            <th>Size</th>
            <th>Ad Name</th>
            <th>Url</th>
            <th>Created</th>
            <th class="actions">Action</th>
          </tr>
        </thead>
        <tbody>
        <tr ng-repeat="ad in getAds(adGroupId)" fetch-creative="ad.creative_id as creative">
        <!-- <tr ng-repeat="creative in campaign.creatives"> -->
          <!-- <td mics-asset-thumbnail asset="creative"></td> -->
          <td>
            <div class="thumbnail">
              <img creative-thumbnail="creative.id"/>
              <div class="caption">
                {{creative.format}}
              </div>
            </div>
          </td>
          <td>
            {{creative.name}}
          </td>
          <td>
            {{resolveUrlTarget(creative.id).url}}
          </td>
          <td>
            {{creative.creation_date|date:'shortDate'}}
          </td>
          <td class="actions">
            <a class="mics-btn mics-btn-delete" ng-click="deleteCreative(creative)">Delete</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="mcs-actions-group">
      <a class="mics-btn mics-btn-previous" ng-click="previous()">go back</a>
      <button class="mics-btn mics-btn-continue">next</button>
    </div>
  </form>
</div>

