<div ng-controller="core/campaigns/keywords/Step1Controller" class="mcs-default-container">

  <div class="mcs-default-sidebar">
    <!--
    <p>How do I choose my budget ?</p>
    <p>Integer elementum massa at nulla placerat varius. Suspendisse in libero risus, in interdum massa. Vestibulum ac leo vitae metus faucibus gravida ac in neque. Nullam est eros, suscipit sed dictum quis, accumsan a ligula. In sit amet justo lectus. Etiam feugiat dolor ac elit suscipit in elementum orci fringilla. Aliquam in felis eros. Praesent hendrerit lectus sit amet turpis tempus hendrerit. Donec laoreet volutpat molestie. Praesent tempus dictum nibh ac ullamcorper. Sed eu consequat nisi. Quisque ligula metus, tristique eget euismod at, ullamcorper et nibh. Duis ultricies quam egestas nibh mollis in ultrices turpis pharetra. Vivamus et volutpat mi. Donec nec est eget dolor laoreet iaculis a sit amet diam.</p>
    -->
  </div>
  <form ng-submit="next()" class="mcs-default-content mcs-full-page-form">

    <div class="mcs-default-heading">
      <h1>Create Keywords Campaign</h1>
    </div>
    <div ng-include="'src/core/campaigns/keywords/breadcrumb.html'"></div>

    <!-- Name -->
    <div mcs-form-group="" label-for="keywords_step1_name" label-text="Campaign name">
      <input required class="input-lg" ng-model="campaign.name" type="text" id="keywords_step1_name">
    </div>

    <!-- Weekly budget -->
    <div mcs-form-group="number" label-for="keywords_step1_budget" label-text="Weekly budget (20&euro; min.)">
      <div class="input-group">
        <input required ng-model="campaign.max_budget_per_period" type="number" min="20" id="keywords_step1_budget">
          <span class="input-group-addon">&euro;</span>
        </div>
    </div>

    <!-- Schedule -->
    <div mcs-form-group="select" label-for="keywords_step1_schedule" label-text="Schedule">
      <!-- TODO activate -->
        <select ng-model="schedule" id="keywords_step1_schedule">
          <option value="">Ongoing (no end date)</option>
          <!-- <option></option> -->
        </select>
    </div>

    <!-- Location -->
    <div mcs-form-group="select" label-for="keywords_step1_location" label-text="Location">
      <!-- TODO activate -->
        <select ng-model="location"  id="keywords_step1_location">
          <option value="">Worldwide</option>
          <!-- <option></option> -->
        </select>
    </div>
    <div class="mcs-actions-group">
      <a class="mics-btn mics-btn-cancel" ng-click="cancel()">cancel</a>
      <button class="mics-btn mics-btn-continue">next</button>
    </div>
  </form>
</div>
