<div ng-controller="core/campaigns/keywords/Step2Controller" class="mcs-default-container">

  <div class="mcs-default-sidebar">
    <div class="organisation-name-block">
      {{currentOrganisation}}
    </div>
      <div class="mcs-campaign-type ">
          <img src="/images/plugins/keywords-targeting-small.png"><br />
          <h4>Keywords Targeting</h4>
      </div>
  </div>
  <form ng-submit="next()" class="mcs-default-content mcs-full-page-form">

    <div class="mcs-default-heading">
      <h1 ng-if="isCreationMode">Create Keywords Campaign</h1>
      <h1 ng-if="!isCreationMode">Edit Keywords Campaign</h1>
    </div>
    <div ng-include="'src/core/campaigns/keywords/breadcrumb.html'"></div>

    <div ng-include="'src/core/keywords/edit.one.inc.html'"></div>

    <div class="mcs-actions-group">
      <a class="mics-btn mics-btn-previous" ng-click="previous()">go back</a>
      <button class="mics-btn mics-btn-continue">next</button>
    </div>
  </form>
</div>

