<div ng-include src="'src/core/datamart/nav.html'" class="row-fluid"></div>
<div ng-controller="core/datamart/users/ViewOneController" class="row-fluid">
	<div class="vertically-spaced clearfix">

		<!-- Account details -->
		<div class="pull-left">
	  	<table class="table table-hover">
				<tr ng-hide="user.first_name == null">
					<td>First name</td>
					<td><strong>{{ user.first_name }}</strong></td>
				</tr>
				<tr ng-hide="user.last_name == null">
					<td>Last name</td>
					<td><strong>{{ user.last_name }}</strong></td>
				</tr>
				<tr ng-hide="user.email == null">
					<td>Email</td>
					<td>{{ user.email }}</td>
				</tr>
				<tr ng-hide="user.account_id == null">
					<td>Account ID</td>
					<td><code>{{ user.account_id }}</code></td>
				</tr>
				<tr ng-hide="user.gender == null">
					<td>Gender</td>
					<td>{{ user.gender }}</td>
				</tr>
				</tr>
				<tr ng-hide="user.account_creation_date == null">
					<td>Account created on</td>
					<td>{{ user.account_creation_date | date}}</td>
				</tr>
			</table>
		</div>

	</div>

	<!-- Agents Grid -->
	<div class="list-group">
		<a href class="list-group-item" ng-repeat="agent in agents" ng-click="expandAgent($event)">
			<div class="clearfix">
			    <!-- image -->
			    <img src="http://placehold.it/40x40" alt="" class="pull-left" style="margin-right:10px" valign="middle">

			    <!-- some properties -->
			    <div class="pull-left">
			      <p ng-show="agent.device_type">Device: <strong>{{ agent.device_type }}</strong></p>
			      <p ng-show="agent/user_agent_type">User-Agent: <strong>{{ agent.user_agent_type }}</strong></p>
			      <p ng-show="agent.operating_system">OS: <strong>{{ agent.operating_system }}</strong></p>
			      <div ng-show="agent.expanded">
			      	<p>Visits: <strong ng-repeat="visit in agent.visits">{{ visit.end_date | date }};</strong></p>
			      </div>
			    </div>
	  		</div>
		</a>
	</div>

</div>