<!-- timeline -->
<div class="col-md-8 col-xs-8" >

    <ul class="datamart-timeline">
        <li  ng-repeat="timelineEvent in timelines  " class="with_purchase">

            <!-- datetime -->
            <time class="datamart-timeline-datetime" datetime="{{ timelineEvent.$ts | date : 'yyyy-MM-ddTHH:mm:ssTZD' }}">
                <span>{{ timelineEvent.$ts | date : 'mediumDate' }}</span>
                <span>{{ timelineEvent.$ts | date : 'shortTime' }}</span>
            </time>
                       <!-- icon -->
            <div class="datamart-timeline-icon">
                <!--<img src="images/datamart/device_phone.svg" width="24" height="24" ng-show="activity.agent.device_type == 'smartphone'" />-->
                <!--<img src="images/datamart/device_tablet.svg" width="24" height="24" ng-show="activity.agent.device_type == 'tablet'" />-->
                <img src="images/datamart/device_pc.svg" width="24" height="24"  />
            </div>

            <!--&lt;!&ndash; content -->
            <div class="datamart-timeline-content">
                <div class="datamart-timeline-content-header">
                    <h3 class="user-activity-title">{{ typePrettyFormat(timelineEvent.$type) }}<span ng-if="timelineEvent.$session_status == 'SESSION_SNAPSHOT'" class="live-event-header">Live</span>
                    </h3>
                    <div ng-if="timelineEvent.$type == 'SITE_VISIT'" >Duration: {{ toHumanReadableDuration(timelineEvent.$session_duration) }}</div>
                     <div ng-if='debug == "true"'>
                         User account : {{timelineEvent.$user_account_id  }}<br />
                         User agent : {{timelineEvent.$user_agent_id  }}
                     </div>
                </div>
                <div class="datamart-timeline-content-details" >

                     <div ng-if="timelineEvent.$origin" >
                         Origin: 
                         <ul>
                          <li ng-if="timelineEvent.$origin.$channel">channel: {{timelineEvent.$origin.$channel}}</li>
                          <li ng-if="timelineEvent.$origin.$campaign_name">campaign: {{timelineEvent.$origin.$campaign_name}}</li>
                          <li ng-if="timelineEvent.$origin.$campaign_id">campaign: {{timelineEvent.$origin.$campaign_id}}</li>
                          <li ng-if="timelineEvent.$origin.$source">source: {{timelineEvent.$origin.$source}}</li>
                          <li ng-if="timelineEvent.$origin.$referral_path">referrer: {{timelineEvent.$origin.$referral_path}}</li>
                          <li ng-if="timelineEvent.$origin.$gclid">gclid: {{timelineEvent.$origin.$gclid}}</li>
                         </ul>
                     </div>
                     <div ng-if="!timelineEvent.$origin">Origin: Direct</div>
                      <div ng-if="timelineEvent.$topics" >
                         Topics: 
                         <ul>
                              <li ng-repeat="key in getMapKeys(timelineEvent.$topics)">
                                  {{key}} : 
                                <ul>
                                    <li ng-repeat="value in getMapKeys(timelineEvent.$topics[key],key)">
                                        {{value}} : 
                                        {{""+timelineEvent.$topics[key][value]}} <!-- ""+ is for casting in string in order to display null value -->
                                    </li>
                                </ul>
                            </li>

                         </ul>
                     </div>

                     <br />
                </div>

                <!-- actions during visit -->
                <div class="datamart-timeline-content-details" ng-if="timelineEvent.$events.length > 0">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="event in timelineEvent.$events" ng-switch="event.$event_name">

                            <!-- perfomed_action -->
                            <!--<span ng-show="item.$$type == '$performed_action'">{{ item.$details.name }}</span>-->
                      <span ng-switch-when="$item_view">
                        <strong>Item view</strong> at {{ event.$ts | date : 'mediumTime' }}
                        <ul ng-show="event.$properties">
                            <li ng-repeat="item in event.$properties.$items">

                                <ul>
                                    <li ng-repeat="itemKey in getMapKeys(item)" ng-switch="itemKey">

                                        <span ng-switch-when="$catalog_id"><mcs-timeline-event-key key="itemKey"></mcs-timeline-event-key> : <a href="{{ catalogUrl(item.$catalog_id) }}">{{item.$catalog_id}}</a></span>
                                        <span ng-switch-when="$id"><mcs-timeline-event-key key="itemKey"></mcs-timeline-event-key> : <a href="{{ itemUrl(item.$catalog_id, item.$id) }}">{{item.$id}}</a></span>
                                        <span ng-switch-default><mcs-timeline-event-key key="itemKey"></mcs-timeline-event-key> : {{"" + item[itemKey]}}</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                      </span>

                      <span ng-switch-when="$item_list_view">
                        <strong>Item list view</strong> at {{ event.$ts | date : 'mediumTime' }}
                        <ul ng-show="event.$properties">
                            <li ng-repeat="item in event.$properties.$items">

                                <ul>
                                     <li ng-repeat="itemKey in getMapKeys(item)" ng-switch="itemKey">

                                        <span ng-switch-when="$catalog_id"><mcs-timeline-event-key key="itemKey"></mcs-timeline-event-key> : <a href="{{ catalogUrl(item.$catalog_id) }}">{{item.$catalog_id}}</a></span>
                                        <span ng-switch-when="$id"><mcs-timeline-event-key key="itemKey"></mcs-timeline-event-key> : <a href="{{ itemUrl(item.$catalog_id, item.$id) }}">{{item.$id}}</a></span>
                                        <span ng-switch-default><mcs-timeline-event-key key="itemKey"></mcs-timeline-event-key> : {{"" + item[itemKey]}}</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                      </span>

                      <span ng-switch-when="$basket_view">
                        <strong>Basket view</strong> at {{ event.$ts | date : 'mediumTime' }}<br/>
                        <i>currency : {{event.$properties.$currency}}</i>
                        <ul ng-show="event.$properties">
                            <li ng-repeat="item in event.$properties.$items">
                                <span class="badge" style="float: right" >{{ item.$qty }}</span>

                                <ul>
                                     <li ng-repeat="itemKey in getMapKeys(item)" ng-switch="itemKey">

                                        <span ng-switch-when="$catalog_id"><mcs-timeline-event-key key="itemKey"></mcs-timeline-event-key> : <a href="{{ catalogUrl(item.$catalog_id) }}">{{item.$catalog_id}}</a></span>
                                        <span ng-switch-when="$id"><mcs-timeline-event-key key="itemKey"></mcs-timeline-event-key> : <a href="{{ itemUrl(item.$catalog_id, item.$id) }}">{{item.$id}}</a></span>
                                        <span ng-switch-default><mcs-timeline-event-key key="itemKey"></mcs-timeline-event-key> : {{"" + item[itemKey]}}</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                      </span>

                      <span ng-switch-when="$transaction_confirmed">
                        <strong>Transaction confirmed</strong> at {{ event.$ts | date : 'mediumTime' }}<br/>
                         <i>currency : {{event.$properties.$currency}}</i><br/>
                         <i>transaction_id : {{event.$properties.$transaction_id}}</i>
                        <ul ng-show="event.$properties">
                            <span class="badge" style="float: right" >{{ item.$qty }}</span>
                            <li ng-repeat="item in event.$properties.$items">

                                <ul>
                                     <li ng-repeat="itemKey in getMapKeys(item)" ng-switch="itemKey">

                                        <span ng-switch-when="$catalog_id"><mcs-timeline-event-key key="itemKey"></mcs-timeline-event-key> : <a href="{{ catalogUrl(item.$catalog_id) }}">{{item.$catalog_id}}</a></span>
                                        <span ng-switch-when="$id"><mcs-timeline-event-key key="itemKey"><mcs-timeline-event-key> : <a href="{{ itemUrl(item.$catalog_id, item.$id) }}">{{item.$id}}</a></mcs-timeline-event-key>
                                        <span ng-switch-default><mcs-timeline-event-key key="itemKey"></mcs-timeline-event-key> : {{"" + item[itemKey]}}</span>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                      </span>

                      <span ng-switch-default>
                        <strong>{{ event.$event_name }}</strong> at {{ event.$ts | date : 'mediumTime' }}
                        <ul ng-show="event.$properties">
                            <li ng-repeat="key in getMapKeys(event.$properties)" ng-switch="key">
                                <span ng-switch-when="$items">
                                    <mcs-timeline-event-key key="key"></mcs-timeline-event-key>
                                    <ul>
                                        <li ng-repeat="item in event.$properties[key] track by $index">
                                            <ul>
                                                <li ng-repeat="itemKey in getMapKeys(item)">
                                                    <span ><mcs-timeline-event-key key="itemKey"></mcs-timeline-event-key> : {{"" + item[itemKey] }}</span>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </span>
                                <span ng-switch-default><mcs-timeline-event-key key="key"></mcs-timeline-event-key> : {{""+event.$properties[key]}} <!-- ""+ is for casting in string in order to display null value --> </span>
                            </li>
                        </ul>
                      </span>
                            <!-- view_item -->
                            <!--<span class="badge" ng-show="item.$event_name == '$item_iew' || item.$type == '$added_to_cart'">{{ item.$count }}</span>-->
                            <!--<span ng-show="item.$event_name == '$item_view'">Viewed item <a href="{{ itemUrl(item.$catalog_id, item.$item_id) }}">{{ item.$item_id }}</a> in catalog <a href="#/datamart/categories/{{item.$catalog_id}}">{{item.$catalog_id}}</a></span>-->
                            <!--<span ng-show="item.$type == '$added_to_cart'">Added item <a href="{{ itemUrl(item.$catalog_id, item.$item_id) }}">{{ item.$item_id }}</a> in catalog <a href="#/datamart/categories/{{item.$catalog_id}}">item.$catalog_id}}</a> to cart</span>-->


                            <!--&lt;!&ndash; purchase_item &ndash;&gt;-->
                            <!--<span class="badge" ng-show="item.$type == '$purchased'">{{ item.$count }}</span>-->
                            <!--<span ng-show="item.$type == '$purchased'">Purchased item <a href="{{ itemUrl(item.$catalog_id, item.$item_id) }}">{{ item.$item_id }}</a> in catalog <a href="#/datamart/categories/{{item.$catalog_id}}">{{item.$catalog_id}}</a></span>-->
                        </li>
                    </ul>
                    <!-- expand/collapse switch -->
                    <div class="clearfix" ng-show="activity.actions && activity.actions.length > INITIAL_ACTIONS_PER_ACTIVITY">
                        <a href class="mics-btn mics-btn-edit pull-right" ng-click="activity.expanded = !activity.expanded">
                            <span ng-hide="activity.expanded">Expand</span>
                            <span ng-show="activity.expanded">Collapse</span>
                        </a>
                    </div>
                </div>

            </div>
        </li>
        <!-- timeline item -->
        <!--<li ng-init="newestFirst = true" ng-repeat="activity in activities | filter:{agent.visible:true} | orderBy:orderByVisitStartDate:!newestFirst" ng-class="{ 'with_action': activity.actions && activity.actions.length > 0, 'with_purchase': activity.with_purchase }">-->


        <!--</li>-->

        <li class="datamart-timeline-footer-node" ng-show="isTimeLineReady() && showMore"  >
            <div class="datamart-timeline-icon">
                <img src="images/datamart/more.svg" width="24" height="24" />
            </div>
            <div class="datamart-timeline-content" ng-click="loadMoreActions()">
                <span>Load all</span>
            </div>
        </li>
    </ul>
</div>
