(function(){

  'use strict';

  angular.module('core/configuration', []).constant("core/configuration", {
    "WS_URL" : "http://127.0.0.1:9004/public/v1",
    "ADS_UPLOAD_URL" : "http://127.0.0.1:9004/public/v1/asset_files",
    "ASSETS_URL" : "http://assets.mediarithmics.local"
  });

})();

