(function(){
  'use strict';

  angular.module('core/configuration', []).constant("core/configuration", {
    "WS_URL" : "//api.mediarithmics.local/v1",
    "ADS_UPLOAD_URL" : "http://api.mediarithmics.local/v1/asset_files",
    "ADS_PREVIEW_URL" : "//ads.mediarithmics.local/ads/render",
    "ASSETS_URL" : "http://assets.mediarithmics.local"
  });
})();
