<!-- navigation bar -->
<<div ng-include src="'views/top-navbar.html'"></div>

<div class="container-fluid mcs-content" ng-Controller="DisplayCampaignListController">
  <div class="row-fluid">
    <div class="col-md-10">
      <h1>Campaigns</h1>
      <div class="btn-group">
        <button class="btn btn-default" ng-click="create()"><span class="glyphicon glyphicon-plus"></span> New Campaign</button>        
      </div>
      <p></p>
      <div>
        <table class="table table-hover" >
          <tr>
            <th>#</th>
            <th>Name</th>
          </tr>
          <tr ng-repeat="campaign in campaigns " >
              <td><a href="#/display_campaigns/{{campaign.id}}">{{campaign.id}}</a><td/>
              <td><a href="#/display_campaigns/{{campaign.id}}">{{campaign.name}}</a></td>
          </tr>
        </table>
      </div>
    </div>
</div>
