<div ng-controller="core/scenarios/EditOneController" class="mcs-scenario">
  <div class="mcs-default-sidebar">
    <div class="organisation-name-block">
      {{currentOrganisation}}
    </div>
  </div>
  <form  class="mcs-default-edit-content mcs-full-page-form">

    <div class="mcs-default-heading">
      <h1 ng-if="isCreationMode">Create Scenario</h1>
      <h1 ng-if="!isCreationMode">Edit Scenario</h1>
    </div>

    <!-- Name -->
    <div mcs-form-group="" label-for="scenario_name" label-text="Scenario Name">
      <input required class="input-lg" ng-model="scenario.name" type="text" id="scenario_name">
    </div>

    <h3>Storyline</h3>
      <div class="dropdown" uib-dropdown>
          <button class="mics-btn mics-btn-add" type="button" uib-dropdown-toggle>
              Add Node
              <!-- <span class="caret"></span> -->
          </button>

          <ul class="dropdown-menu" role="menu" aria-labelledby="New Input">
              <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="addCampaign('TRIGGER')">
                  User activity trigger
              </a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="addCampaign('SEGMENT')">
                  Audience Segement
              </a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="addCampaign('LIBRARY')">
                  Choose From Library
              </a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="addCampaign('DISPLAY')">
                  Create a Display Campaign
              </a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="addCampaign('EMAIL')">
                  Email Campaign
              </a></li>
          </ul>
      </div>
        <div >
            <div class="panel-body">
                <js-joint-canvas on-connection="onConnection" on-deconnect="onDeconnect"  x="pos_x" y="pos_y" zoom="zoomlevel" storyline="graph" class='paper'>
                    <div ng-repeat="node in graph.nodes">
                        <js-joint-node node="node.value" >
                            <span ng-show="node.type != 'QUERY_INPUT'">
				    {{node.campaign.name}} <span ng-if="node.adGroup"> &gt; {{node.adGroup.name}} </span>
                                
                            </span>
                            <div ng-if="node.type === 'QUERY_INPUT'" ng-controller="core/scenarios/EditOneController/NodeController as nodeCtrl">
                                <span contenteditable="true" ng-model="node.value.name" no-line-breaks="true" >
                                </span>
                                <a class="mics-btn mics-btn-edit btn-xs" ng-click="nodeCtrl.editTrigger()">Edit</a>
                                <br />
                            </div>
                            <div class="actions">
                                <button class=" mics-btn btn-xs mics-btn-cancel" ng-click="deleteNode(node)">Delete</button>
                            </div>

                        </js-joint-node>
                    </div>

                </js-joint-canvas>
            </div>
           
        </div>


    <br />

    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
              Advanced Options
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">

            <!--<div ng-show="workflow.begin_node_id != null">

              <div mcs-form-group="" label-for="campaign_id" label-text="Update started campaign">
                <input required class="input-lg" ng-model="begin_node.campaign_id" type="text" id="campaign_id">
                <button class="mics-btn mics-btn-delete" ng-click="saveBeginNode(begin_node)">Update</button>
              </div>

            </div>-->

          </div>
        </div>
      </div>
    </div>

    <div class="mcs-actions-group">
      <a class="mics-btn mics-btn-cancel" ng-click="cancel()">Cancel</a>
      <button class="mics-btn mics-btn-finish" ng-click="next()">Save</button>
    </div>

  </form>


</div>

