
<div class="mcs-default-container " ng-controller="core/datamart/categories/BrowseController">
  <div class="mcs-default-sidebar">
  </div>
  <div class="mcs-default-content">

    <div ng-include src="'src/core/datamart/nav.html'" class="row"></div>
  
      <div  class="row">

        <!-- Search form -->
        <div class="mics-table-toolbar">
          <div class="col-md-12" >  

            <!-- Catalog view -->
            <div ng-hide="currentCategory !== null">

              <!-- Search form -->
              <form class="datamart clearfix" role="form">

                <div class="form-group pull-left right-spaced not-bottom-spaced">
                  <label for="marketSelect">Market</label>
                  <select id="marketSelect" class="form-control" ng-model="market" ng-options="m.market for m in definedMarkets">
                    <option value="">All</option>
                  </select>
                </div>

                <div class="form-group pull-left not-bottom-spaced">
                  <label for="languageSelect">Language</label>
                  <select id="languageSelect" class="form-control" ng-model="language" ng-options="languageMapping.map(lang) for lang in market.languages">
                    <option value="">All</option>
                  </select>
                </div>
              </form>

              <div class="vertically-spaced">
                <label class="blue">Current category</label>
                <div class="category-item">
                    <span class="glyphicon glyphicon-th"></span> Catalog
                </div>
              </div>

            </div>
              
            <!-- Single category view -->
            <div class="clearfix" ng-hide="currentCategory == null">

              <!-- Current category -->
              <div class="pull-left">
                <label class="blue">Current category</label>
                <div class="category-item">
                  {{ currentCategory.name }}
                </div>
              </div>
              
              <!-- Parent-categories  -->
              <div class="pull-left left-spaced">
                <div>
                  <label class="blue">Parents</label>
                </div>
                <div class="category-list">
                  <a href="{{ baseUrl + element.id }}" ng-repeat="element in parents" class="category-item">{{ element.name }}</a>
                </div>
              </div>
            </div>    
          </div>  
      </div>

      <!-- Sub-categories -->
      <div mics-datamart-grid template="'src/core/datamart/categories/category-grid.template.html'" element-template="'src/core/datamart/categories/category-grid-element.template.html'" data="categories" refresh="refreshCategories" url-prefix="baseUrl" page-size="categoriesPerPage" ng-show="categories.length > 0"></div>
    </div>

    <div mics-datamart-grid element-template="'src/core/datamart/items/item-grid-element.template.html'" data="datasheets" refresh="refreshDatasheets" url-prefix="itemUrl"></div>

  </div>
